<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{xdm/include/head :: head}"></div>



<main id="main" class="main">

	<div class="pagetitle">
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">page 1</a></li>
				<li class="breadcrumb-item">page 2</li>
				<li class="breadcrumb-item active">Default</li>
			</ol>
		</nav>
		<h1 style="height: 50px;">
			CodeGroup<span style="font-size: 18px;"> (List)</span>
		</h1>
	</div>
	<!-- End Page Title -->

	<section class="section">
		<form class="row g-3 needs-validation" novalidate name="formList"
			id="formList" method="post" autocomplete="off" default="1">
			<input type="hidden" name="seq"> <input type="hidden"
				name="thisPage" th:value="${vo.thisPage}" /> <input type="hidden"
				id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}" />
			<input type="hidden" name="seqList">
<!-- 			<div class="col-md-2" style="height: 10px;"> -->

<!-- 				<select class="form-select" id="shDelNy" name="shDelNy"> -->
<!-- 					<option value="">사용 여부</option> -->
<!-- 					<option value="0" th:selected="${vo.shDelNy==0}">Y</option> -->
<!-- 					<option value="1" th:selected="${vo.shDelNy==1}">N</option> -->
<!-- 				</select> -->
<!-- 				<div class="invalid-feedback">항목중 하나를 선택 해주세요.</div> -->
<!-- 			</div> -->
<!-- 			<div class="col-md-2"> -->
<!-- 				<select class="form-select" id="" disabled> -->
<!-- 					<option selected disabled value="">Y</option> -->
<!-- 					<option>아무거나</option> -->
<!-- 				</select> -->
<!-- 				<div class="invalid-feedback">항목중 하나를 선택 해주세요.</div> -->
<!-- 			</div> -->
			<div class="col-md-2">
				<select class="form-select " id="shOptionDate" name="shOptionDate"
					required>
					<option value="" th:selected="${vo.shOptionDate == null}">날짜</option>
					<option value="1" th:selected="${vo.shOptionDate == 1}">등록일</option>
					<option value="2" th:selected="${vo.shOptionDate == 2}">수정일</option>
				</select>
				<div class="invalid-feedback">항목중 하나를 선택 해주세요.</div>
			</div>
			<div class="col-md-2">
				<input type="text" class="form-control datepicker "
					id="shDateStart" name="shDateStart" placeholder="시작일"
					onkeyup="enterkey()">
				<div class="invalid-feedback">시작일을 입력해주세요.</div>
			</div>
			<div class="col-md-2">
				<input type="text" class="form-control datepicker " id="shDateEnd"
					name="shDateEnd" placeholder="종료일" onkeyup="enterkey()">
				<div class="invalid-feedback">종료일을 입력해주세요.</div>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-2"></div>
			<div class="col-md-2"></div>
			<div class="col-md-2">
				<select class="form-select dd" id="shOption" name="shOption">
					<option value="">검색구분</option>
					<option value="1" th:selected="${vo.shOption == 1}">코드그룹
						코드</option>
					<option value="2" th:selected="${vo.shOption == 2}">코드그룹
						이름</option>
					<!-- 					<option value="2">코드그룹 이름(영문)</option> -->
				</select>
				<div class="invalid-feedback">항목중 하나를 선택 해주세요.</div>
				<div class="valid-feedback">훌륭 합니다!</div>
			</div>
			<div class="col-md-2">
				<input type="text" class="form-control ss" id="shValue"
					name="shValue" th:value="${vo.shValue}" onkeyup="enterkey()"
					placeholder="검색어">
				<div class="invalid-feedback">코드를 입력해주세요.</div>
				<div class="valid-feedback">훌륭 합니다!</div>

			</div>
			<div class="col-md-8">
				<button class="btn btn-outline-dark" type="button" id="btnSearch">
					<i class="bi bi-search"></i>
				</button>
				<a class="btn btn-outline-dark" type="button"
					href="/codeGroupXdmList"> <i class="bi bi-arrow-clockwise"></i>
				</a>
			</div>

			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-10" style="height: 50px;">
								<h5 class="card-title-list">Total : [[${vo.totalRows}]]</h5>
							</div>
							<div class="col-md-2 select-col">
								<select class="form-select select-end" name="perPage"
									onchange="getNum()">
									<option value="5" th:selected="${vo.rowNumToShow == 5}">5</option>
									<option value="10" th:selected="${vo.rowNumToShow == 10}">10</option>
									<option value="15" th:selected="${vo.rowNumToShow == 15}">15</option>
								</select>
							</div>
						</div>
					</div>

					<!-- Table with stripped rows -->
					<table class="table datatable" id="datatable">
						<thead>
							<tr>

								<th data-sortable="false"
									style="text-align: center; width: 100px;"><div
										class="checked">
										<input type="checkbox" class="form-check" name="animal"
											value="selectall" onclick="selectAll(this)">
									</div></th>
								<th data-sortable="false"
									style="width: 10px; text-align: center;">#</th>
								<th class="list-sort" style="text-align: center;">코드그룹 코드</th>
								<th class="list-sort" style="text-align: center;">코드그룹 이름</th>
								<th class="list-sort" style="text-align: center;">코드그룹
									이름(영문)</th>
								<th class="list-sort" style="text-align: center;">갯수</th>
								<th class="list-sort" style="text-align: center;">순서</th>
								<th data-type="date" data-format="YYYY/DD/MM" class="list-sort"
									style="text-align: center;">등록일</th>
								<th data-type="data" data-format="YYYY/DD/MM" class="list-sort"
									style="text-align: center;">수정일</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${#lists.isEmpty(list)}">
								<td colspan="10" style="text-align: center; padding-top: 20px;">
									<div>
										<p>There are no data!</p>
									</div>
								</td>
							</tr>

							<tr th:if="${!#lists.isEmpty(list)}" th:each="list:${list}">
								<td>
									<div class="checked">
										<input type="checkbox" class="form-check" name="animal"
											value="checke" onclick="updateSelectAll()"
											th:attr="data-seq=${list.seq}">
									</div>
								</td>
								<td th:text="${list.seq}"></td>
								<td th:text="${list.seq}"></td>
								<td class="cgName align-middle fw-semi-bold"><a
									href="javascript:void(0);" th:text="${list.cgName}"
									th:attr="onclick=|goForm('${list.seq}')|"></a></td>
								<td></td>
								<td th:text="${list.seqCount}"></td>
								<td></td>
								<td th:text="${list.cgReg}"></td>
								<td th:text="${list.cgMof}"></td>
							</tr>


						</tbody>
						<tfoot>

						</tfoot>

					</table>
					<div class="row">
						<nav aria-label="Page navigation example"
							style="display: flex; justify-content: center;">
							<ul class="pagination" id="pagination">
								<li th:if="${vo.startPage gt vo.pageNumToShow}"
									class="page-item" style="cursor: pointer;"><a
									class="page-link" href="javascript:goList(${vo.startPage - 1})"
									th:attr="onclick=|goList('${vo.startPage - 1}')|"> <i
										class="fa-solid fa-angle-left"></i>
								</a></li>
								<li
									th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}"
									th:classappend="${num eq vo.thisPage} ? active : ''"
									class="page-item" style="cursor: pointer;"><a
									class="page-link" th:attr="onclick=|goList('${num}')|"
									th:text="${num}"> <!-- ${i.index} -->
								</a></li>
								<li th:if="${vo.endPage ne vo.totalPages}" class="page-item"
									style="cursor: pointer;"><a class="page-link"
									th:attr="onclick=|goList('${vo.endPage + 1}')|"> <i
										class="fa-solid fa-angle-right"></i>
								</a></li>
							</ul>
						</nav>

					</div>
					<div class="row">
						<div class="col-md-6 padding-left">
							<button type="button" class="btn btn-danger">X</button>
							<button type="button" class="btn btn-danger" id="btnUelete">
								<i class="bi bi-trash"></i>
							</button>
						</div>
						<div class="col-md-6 padding-right"
							style="display: flex; justify-content: end;">

							<button class="btn btn-success btn-right">
								<i class="bi bi-journal-x"></i>
							</button>
							<a id="btnForm" class="btn btn-primary"><i
								class="bi bi-plus-lg"></i></a>
						</div>
					</div>

				</div>
			</div>
			<div class="modal fade" id="modalConfirm" data-bs-backdrop="static"
				data-bs-keyboard="false" tabindex="-1"
				aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modalConfirmTitle">title</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body" id="modalConfirmBody">body</div>
						<div class="modal-footer">
							<button type="button"
								class="btn btn-outline-secondary btn-sm btn_custom"
								data-bs-dismiss="modal">취소</button>
							<button type="button" class="btn btn-danger btn-sm btn_custom"
								name="" id="btnModalDelete">
								<i class="fa-solid fa-x fa-lg"></i>
							</button>
							<button type="button" class="btn btn-danger btn-sm btn_custom"
								name="" id="btnModalUelete">삭제</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</section>

</main>


<div th:replace="~{xdm/include/footer :: footer}"></div>
<script
	src="/xdm/template/NiceAdmin/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script
	src="/xdm/template/NiceAdmin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script
	src="/xdm/template/NiceAdmin/assets/vendor/chart.js/chart.umd.js"></script>
<script
	src="/xdm/template/NiceAdmin/assets/vendor/echarts/echarts.min.js"></script>
<script src="/xdm/template/NiceAdmin/assets/vendor/quill/quill.js"></script>
<script
	src="/xdm/template/NiceAdmin/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script
	src="/xdm/template/NiceAdmin/assets/vendor/tinymce/tinymce.min.js"></script>
<script
	src="/xdm/template/NiceAdmin/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->

<script src="/xdm/template/NiceAdmin/assets/js/main.js"></script>
<script type="text/javascript">
	let input = document.getElementsByClassName("ss");
	let select = document.getElementsByClassName("dd");
	let seq = document.querySelector("input[name=seq]");
	let form = document.querySelector("form[name=formList]");

	document.getElementById("btnForm").onclick = function() {
		goForm(0);
	}

	goForm = function(keyValue) {
		seq.value = keyValue;
		form.action = "codeGroupXdmForm";
		form.submit();
	}

	function selectAll(selectAll) {
		const checkboxes = document.getElementsByName("animal");

		for (let i = 0; i < checkboxes.length; i++) {
			checkboxes[i].checked = selectAll.checked;
		}
	}
	function updateSelectAll() {
		const checkboxes = document.querySelectorAll('input[name="animal"]');

		// 전체 선택 체크박스는 첫 번째 체크박스로 가정
		const selectAllCheckbox = checkboxes[0];

		// 모든 체크박스가 체크되었는지 확인
		let allChecked = true;

		for (let i = 0; i < checkboxes.length; i++) {
			if (!checkboxes[i].checked) {
				allChecked = false;
				break;
			}
		}

		// 모든 체크박스가 체크되었을 때만 전체 선택 체크박스를 체크, 하나라도 해제되면 해제
		selectAllCheckbox.checked = allChecked;
	}

	/* function goList(pageNum) {
	 let  num = pageNum;
	
	    let dfNum = document.getElementsByName("perPage")[0];
	 let ixNum = dfNum.selectedIndex;
	 let vlNum = dfNum.options[ixNum].value;
	
	  window.location.assign("/codeGroupXdmList?page="+num+"&perPage="+vlNum);
	}  */

	function goList(Num) {
		document.querySelector("input[name=thisPage]").value = Num;
		form.action = "/codeGroupXdmList"
		form.submit();
	}

	function getNum() {
		let dfNum = document.getElementsByName("perPage")[0];
		let ixNum = dfNum.selectedIndex;
		let vlNum = dfNum.options[ixNum].value;
		document.querySelector("input[name=rowNumToShow]").value = vlNum;

		form.action = "/codeGroupXdmList"
		form.submit();
	}
	/* function getNum(){
		const urlParams = new URLSearchParams(window.location.search);
		const page = urlParams.get("page") || "1";
		
		let dfNum = document.getElementsByName("perPage")[0];
		let ixNum = dfNum.selectedIndex;
		let vlNum = dfNum.options[ixNum].value;
		
		window.location.assign("/codeGroupXdmList?page="+page+"&perPage="+vlNum);
	  
	} */

	function enterkey() {
		if (event.key == "Enter") {
			form.action = "/codeGroupXdmList";
			form.submit();
		}
	}

	document.getElementById("btnSearch").onclick = function() {
		
		form.action = "/codeGroupXdmList";
		form.submit();
	}

	for (let i = 0; i < select.length; i++) {
		select[i].onchange = function() {
			let shOption = this;
			if (shOption.selectedIndex === 0) {
				shOption.classList.add("is-invalid");
				shOption.classList.remove("is-valid");
			} else {
				shOption.classList.add("is-valid");
				shOption.classList.remove("is-invalid");
			}
		}
	}
	for (let i = 0; i < input.length; i++) {
		input[i].oninput = function() {
			let input = this;
			if (input.value.trim() == null || input.value.trim() == "" || input.value.includes(" ")) {
				input.classList.add("is-invalid");
				input.classList.remove("is-valid");
			} else {
				input.classList.add("is-valid");
				input.classList.remove("is-invalid");
			}
		}

	}

	if (document.getElementById("btnUelete")) {
		document.getElementById("btnUelete").onclick = function() {

			document.querySelector("#modalConfirmTitle").textContent = "확 인";
			document.querySelector("#modalConfirmBody").textContent = "해당 데이터를 삭제하시겠습니까 ?";
			document.querySelector("#btnModalUelete").style.display = '';
			document.querySelector("#btnModalDelete").style.display = 'none';
			$("#modalConfirm").modal("show");
		}
	}

	document.getElementById("btnModalUelete").onclick = function() {
		let checkboxes = document.getElementsByName("animal");
		let seqq = new Array();
		let seqList = document.querySelector("input[name=seqList]");
		let j = 0;
		for (var i = 0; i < checkboxes.length; i++) {
			if (checkboxes[i].checked) {
				var seq = checkboxes[i].getAttribute("data-seq");
				seqq[j] = seq;
				j++;
			}
		}
		console.log(seqq);
		seqList.value = seqq;
		form.action = "codeGroupXdmUele";
		form.submit();
	}
	 $("#btnSignout").on("click", function(){
			$.ajax({
				async: true 
				,cache: false
				,type: "post"
				,url: "/signoutXdmProc"
				,data: {}
				,success: function(response) {
					if(response.rt == "success") {
					
						location.href = "/signinXdmForm";
					} else {
						// by pass
					}
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
		});
	 
	 let targetUrl = window.location.pathname; // 원하는 URL로 변경
	 let main = document.querySelector("#codeGroupMain");
	 let serve = document.querySelector("#codeGroupServe");
	let inner = document.querySelector("#codeGroupInner");
	 
	     if ("/codeGroupXdmList" === targetUrl) {
				main.classList.remove("collapsed");
	    	 inner.classList.add("active");
	    	
				 serve.classList.remove("collapse");
	     }
	 
	 
</script>
</body>

</html>
