<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div th:replace="~{xdm/include/codyHead :: head}"></div>
<!-- End Sidebar-->
  <main id="main" class="main">

    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">page 1</a></li>
          <li class="breadcrumb-item">page 2</li>
          <li class="breadcrumb-item active">Default</li>
        </ol>
      </nav>
      <h1>cody</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        
        <div class="col-lg-12">
          <div class="card" >
            <div class="card-body">
              <h1 class="card-title" style="height: 100px;" >기본정보 </h1>

              <!-- Custom Styled Validation -->
              <form class="row g-3 needs-validation" novalidate id="formList" action="" method="post" >
                <div class="col-md-3" style="height: 100px;">
                <input type="hidden" name="seq" th:value="${item?.seq}">
                  <label for="seq" class="form-label">블로그 번호 <sup>*</sup></label>
                  <input type="text" class="form-control" id="seq" name="betterBlog_seq" th:value="${item?.betterBlog_seq}"  required  >
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-3" style="height: 100px;">
                  <label for="validationCustom05" class="form-label">블로그 제목</label>
                 <input type="text" class="form-control" name="title" th:value="${item?.title}" required disabled>
                  <div class="invalid-feedback">
                    코드이름 을 입력해주세요.
                  </div>
                </div>
                <div class="col-md-3" style="height: 100px;">
                  <label for="validationCustom02" class="form-label">코디 아이템</label>
                  <input type="text" class="form-control" id="validationCustom02" name="item" th:value="${item?.item}"  required >
                  <div class="valid-feedback">
                    코드를 입력해주세요!
                  </div>
                </div>
                <div class="col-md-3">
                  <label for="cgName" class="form-label">코디 아이템 브랜드<sup>*</sup></label>
                  <input type="text" class="form-control" id="itemBrand" name="itemBrand" th:value="${item?.itemBrand}"  required  >
                  <div class="invalid-feedback">
                    코드를 입력해주세요.
                  </div>
                </div>
                <div class="col-md-3">
                  <label for="cgnickName" class="form-label">코디 링크<sup>*</sup></label>
                  <input type="text" class="form-control" id="cgnickName" name="buyLink" th:value="${item?.buyLink}"  required  >
                  <div class="invalid-feedback">
                    코드를 입력해주세요.
                  </div>
                </div>
                
                
                <div class="col-md-3" style="height: 100px;">
                  <label for="validationCustom21" class="form-label">코디 정보 가격</label>
                  <input type="text" class="form-control" id="validationCustom21" name="infoPrice" th:value="${item?.infoPrice}" required >
                  <div class="invalid-feedback">
                    Please provide a valid zip.
                  </div>
                </div>
               
                
                <div class="col-md-6"></div>
                <div class="col-md-6"></div>
                <div class="col-md-6"></div>
                <div class="col-md-6">
                  <a href="javascript:history.back()" class="btn btn-outline-dark"><i class="bi bi-blockquote-right"></i></a></div>
                <div class="col-md-6">
                
                  <div style="display: flex;justify-content: end;"><a   class="btn btn-primary" id="blogBtn" onclick="dataSubmit()"><i class="bi bi-server"></i></a></div>
                </div>
              </form><!-- End Custom Styled Validation -->

            </div>
          </div>

          

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <div th:replace="~{xdm/include/footer :: footer}"></div>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="xdm/template/NiceAdmin/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="xdm/template/NiceAdmin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="xdm/template/NiceAdmin/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="xdm/template/NiceAdmin/assets/vendor/echarts/echarts.min.js"></script>
  <script src="xdm/template/NiceAdmin/assets/vendor/quill/quill.js"></script>
  <script src="xdm/template/NiceAdmin/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="xdm/template/NiceAdmin/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="xdm/template/NiceAdmin/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="xdm/template/NiceAdmin/assets/js/main.js"></script>
	 <script type="text/javascript">
	 let form = document.getElementById("formList");
	 let seq = document.querySelector("input[name=seq]");
	 function dataSubmit() {
		console.log( document.querySelector("input[name=seq]").value);
		if (seq.value == "0" || seq.value == "") {
			
			form.action = "codyXdmInst";
			form.submit();
		} else {
			

			form.action = "codyXdmUpdt";
			form.submit();
		}
	}
	 $("#btnSignout").on("click", function(){
			$.ajax({
				async: true 
				,cache: false
				,type: "post"
				,url: "/signoutXdmProc"
				,data: {}
				,success: function(response) {
					if(response.rt == "success") {
					
						location.href = "/signinXdmForm";
					} else {
						// by pass
					}
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
		});
// 	document.getElementById("blog").onclick = function(){
// 		document.getElementById("codeGroupForm").submit();
// 	}

	</script> 
</body>

</html>