<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Park JinSeok's profile</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="assets/img/weatherLogo.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: DevFolio
  * Template URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">Jinseok's profile</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">홈<br></a></li>
          <li><a href="#about">소개</a></li>
          <li><a href="#services">장점</a></li>
          <li><a href="#portfolio">프로젝트</a></li>
         
          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="/assets/img/testimonials-bg.jpg" alt="" data-aos="fade-in">

      <div class="container d-flex flex-column align-items-center justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
        <h2>개발자는 영어로 </h2>
        <p><span class="typed" data-typed-items=" Developer"></span></p>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-md-6">

            <div class="row justify-content-between gy-4">
              <div class="col-lg-5">
                <img src="/assets/img/myphoto.jpeg" class="img-fluid" alt="" style="width:90%; height:90%; padding-left:30px; padding-top:50px;">
              </div>
              <div class="col-lg-7 about-info">
                <br><br>
                <h5><strong>Name: </strong> 박진석</h5><br>
                <h5><strong>date of birth: </strong> <span>96.08.30</span></h5><br>
                <h5><strong>Profile: </strong> <span>풀 스택 개발자</span></h5><br>
                <h5><strong>Email: </strong> <span>jinseok469@naver.com</span></h5><br>
                <h5><strong>Phone: </strong> <span>010-5625-2964</span></h5>
                
              </div>
            </div>

          
          </div>

          <div class="col-md-6">
            <div class="about-me">
              <h4 style="text-align: center;">소개</h4>
              
              <h5 style="text-align: center;">작은 불편함에서 시작해</h5><br>
              <h5 style="text-align: center;">개발에 흥미를 느꼈습니다</h5><br>
              <h5 style="text-align: center;">비전공자 이지만 도전에 망설이지 않았고</h5><br>
              <h5 style="text-align: center;">배우는 과정 자체를 즐기며</h5><br>
               <h5 style="text-align: center;">지속적으로 성장하고 있습니다</h5>
            </div>
             </div>
             <div class="row gy-4">
             <div class="col-md-6">
              <div class="skills-content skills-animation">


              <div class="progress">
                <span class="skill"><span>JAVA</span> <i class="val">70%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div><!-- End Skills Item -->

              <div class="progress">
                <span class="skill"><span>Spring</span> <i class="val">60%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div><!-- End Skills Item -->

              <div class="progress">
                <span class="skill"><span>DataBase</span> <i class="val">70%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div><!-- End Skills Item -->

              

            </div>
            </div>
            <div class="col-md-6">
            <div class="skills-content skills-animation">
            
            <div class="progress">
              <span class="skill"><span>GitHub</span> <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill"><span>HTML</span> <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          </div>
         </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>경력 사항</h2>
        <!-- <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p> -->
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">학력 사항</h3>

            <div class="resume-item pb-0">
              <!-- <h4>학력 사항</h4> -->
              <!-- <p><em>
                
              </em></p> -->
              <ul>
                <li>2015.02 대원고등학교 졸업</li>
                <li>2015.03 대림대학교 디지털 전자과 입학</li>
                <li>2016.08 대림대학교 중퇴</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <h3 class="resume-title">아르바이트 경력</h3>
            <div class="resume-item">
              <h4> 반포 아펠가모 웨딩홀</h4>
              <h5>2013.10 - 2013.12</h5><br>
              <h5>홀 파트 담당</h5>
              <!-- <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p> -->
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>파파이스 장안점</h4>
              <h5>2014.05 - 2014.07</h5> <br>
              <h5>햄버거 만들기 전문</h5>
              <!-- <p><em>Rochester Institute of Technology, Rochester, NY</em></p> -->
              <!-- <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p> -->
            </div><!-- Edn Resume Item -->
            <div class="resume-item">
              <h4>마녀 짬뽕</h4>
              <h5>2015.03 - 2015.05</h5> <br>
              <h5>홀 파트 담당</h5>
              <!-- <p><em>Rochester Institute of Technology, Rochester, NY</em></p> -->
              <!-- <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p> -->
            </div><!-- Edn Resume Item -->
            <div class="resume-item">
              <h4>세븐 일레븐 편의점</h4>
              <h5>2015.05 - 2016.01</h5> <br>
              <h5>매장 관리</h5>
              <!-- <p><em>Rochester Institute of Technology, Rochester, NY</em></p> -->
              <!-- <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p> -->
            </div><!-- Edn Resume Item -->
            <div class="resume-item">
              <h4>CU 편의점</h4>
              <h5>2016.02 - 2016.09</h5> <br>
              <h5>매장 관리</h5>
              <!-- <p><em>Rochester Institute of Technology, Rochester, NY</em></p> -->
              <!-- <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p> -->
            </div><!-- Edn Resume Item -->

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">직장 경력</h3>
            <div class="resume-item">
              <h4>루이빈 치과 압구정점</h4>
              <h5>2018.11 - 2019.03</h5> <br>
              <h5>치과 간호 보조, 상담 업무</h5>
              <!-- <p><em>Experion, New York, NY </em></p> -->
              <!-- <ul> -->
                <!-- <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li> -->
                <!-- <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li> -->
                <!-- <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li> -->
                <!-- <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li> -->
              <!-- </ul> -->
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>하이맨 유로 연합 의원</h4>
              <h5>2019.04 - 2021.01</h5>
              <br><h5>수술실 어시스트, 데스크 수납, 환자 처치</h5>
              <!-- <p><em>Stepping Stone Advertising, New York, NY</em></p> -->
              <!-- <ul> -->
                <!-- <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li> -->
                <!-- <li>Managed up to 5 projects or tasks at a given time while under pressure</li> -->
                <!-- <li>Recommended and consulted with clients on the most appropriate graphic design</li> -->
                <!-- <li>Created 4+ design presentations and proposals a month for clients and account managers</li> -->
              <!-- </ul> -->
            </div><!-- Edn Resume Item -->
            <div class="resume-item">
              <h4>관절 사랑 정형외과</h4>
              <h5>2021.05 - 2024.08</h5>
              <br><h5>수술실 어시스트, 환자 처치, 석고실 담당</h5>
              <!-- <p><em>Stepping Stone Advertising, New York, NY</em></p> -->
              <!-- <ul> -->
                <!-- <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li> -->
                <!-- <li>Managed up to 5 projects or tasks at a given time while under pressure</li> -->
                <!-- <li>Recommended and consulted with clients on the most appropriate graphic design</li> -->
                <!-- <li>Created 4+ design presentations and proposals a month for clients and account managers</li> -->
              <!-- </ul> -->
            </div><!-- Edn Resume Item -->
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
              <h3 class="resume-title">자격증</h3>
              <div class="resume-item">
                <h4>간호 조무사 자격증</h4>
                <h5>2020.03 취득</h5><br><br>
              </div><div class="resume-item">
                <h4>이젠 아카데미 노원점<br>AI 클라우드 기반 자바 백엔드 과정 수료</h4>
                <h5>2024.12 - 2025.06</h5>

          </div>

        </div>

      </div>

    </section><!-- /Resume Section -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>장점</h2>
        
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>책임감</h3>
              </a>
              <p>어떤 임무도 소홀히 하지 않고 최선을 다하는 책임감이 저의 장점 중 하나 입니다</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>적응력</h3>
              </a>
              <p>어디서든 살아 남는 어마무시한 적응력을 가지고 있습니다</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-easel"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>공감 능력</h3>
              </a>
              <p>타인의 감정이나 생각을 잘 이해하고 공감능력이 결여되지 않았으며 눈치가 있는게 제 장점중 하나입니다</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-bounding-box-circles"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>소통 능력</h3>
              </a>
              <p>공감 능력과 더불어 맞지 않는 주제라도 유연하게 소통해 나갈수 있습니다</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-calendar4-week"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>자기 계발</h3>
              </a>
              <p>일상인 프로그램 개발 이외 에도 꾸준한 운동과 취미로 자기계발 중입니다</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-chat-square-text"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>자신감</h3>
              </a>
              <p>리더가 되는걸 좋아 하며 항상 자신감이 넘치고 위축 되지 않는 성격입니다</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section>
    <section id="portfolio" class="portfolio section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>프로젝트</h2>
        <!-- <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p> -->
      </div><!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">개인 프로젝트</li>
            <li data-filter=".filter-product">팀 프로젝트1</li>
            <li data-filter=".filter-branding">팀 프로젝트2</li>
            <!-- <li data-filter=".filter-books">Books</li> -->
          </ul><!-- End Portfolio Filters -->

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <h4 style="text-align: center;">개인 프로젝트</h4>
              <a href="https://staticfinal.animalalert.shop/indexUsrView">
              <img src="assets/img/portfolio/login.jpg" style="" class="img-fluid" alt="">
            </a>
              <div class="portfolio-info">
                <h4>내일은 맑음</h4>
                <p>오늘의 날씨 & 오늘의 옷차림 추천 및 패션 블로그</p>
                
                <a href="https://staticfinal.animalalert.shop/indexUsrView" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <h4 style="text-align: center;">팀 프로젝트1</h4>
              <a href="https://www.animalalert.shop/usr/index">
              <img src="/assets/img/AAlogo.png" class="img-fluid" alt="">
            </a>
              <div class="portfolio-info">
                <h4>Animal Alert(AA)</h4>
                <p>반려동물 실종신고 및 실종신고 알림</p>
               
                <a href="https://www.animalalert.shop/usr/index" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
              <h4 style="text-align: center;">팀 프로젝트 2</h4>
              <a href="https://codetrio.animalalert.shop/hoxdm/member/MemberHOXdmSignIn">
              <img src="/assets/img/profile.png" class="img-fluid" alt="">
            </a>
              <div class="portfolio-info">
                <h4>Codetrio</h4>
                <p>가구회사의 RPA를 이용한 자동 재고 조사 및 배송 처리</p>
               
                <a href="https://codetrio.animalalert.shop/hoxdm/member/MemberHOXdmSignIn" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>

        </div>

      </div>

    </section>
   

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="info-wrap" data-aos="fade-up" data-aos-delay="200">
          <div class="row gy-5">

            <div class="col-lg-4">
              <div class="info-item d-flex align-items-center">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>주소</h3>
                  <p>경기도 남양주시 별내동</p>
                </div>
              </div>
            </div><!-- End Info Item -->

            <div class="col-lg-4">
              <div class="info-item d-flex align-items-center">
                <i class="bi bi-telephone flex-shrink-0"></i>
                <div>
                  <h3>휴대폰</h3>
                  <p>+82 010-5625-2964</p>
                </div>
              </div>
            </div><!-- End Info Item -->

            <div class="col-lg-4">
              <div class="info-item d-flex align-items-center">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>이메일</h3>
                  <p>jinseok469@naver.com</p>
                </div>
              </div>
            </div><!-- End Info Item -->

          </div>
        </div>

        <!-- <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="300">
          <div class="row gy-4">

            <div class="col-md-6">
              <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
            </div>

            <div class="col-md-6 ">
              <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
            </div>

            <div class="col-md-12">
              <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
            </div>

            <div class="col-md-12">
              <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>

              <button type="submit">Send Message</button>
            </div>

          </div>
        </form>End Contact Form -->

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer accent-background">

    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">DevFolio</strong> <span>All Rights Reserved</span></p>
      </div>
      <div class="social-links d-flex justify-content-center">
        <!-- <a href=""><i class="bi bi-twitter-x"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-linkedin"></i></a>
        <a href=""><i class="bi bi-"></i></a> -->
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/typed.js/typed.umd.js"></script>
  <script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>