<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<div th:replace="~{xdm/include/head :: head}"></div>




<main id="main" class="main">

	<div class="pagetitle">
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">page 1</a></li>
				<li class="breadcrumb-item">page 2</li>
				<li class="breadcrumb-item active">Default</li>
			</ol>
		</nav>
		<h1 style="height: 50px;">유저 관리</h1>
	</div>
	<!-- End Page Title -->

	<section class="section">
		<form class="row g-3 needs-validation" novalidate name="formList"
			id="formList" method="post" autocomplete="off">
			<input type="hidden" name="thisPage" th:value="${vo.thisPage}" /> <input
				type="hidden" id="rowNumToShow" name="rowNumToShow"
				th:value="${vo.rowNumToShow}" />
<!-- 			<div class="col-md-2" style="height: 10px;"> -->

<!-- 				<select class="form-select" id="shDelNy"> -->
<!-- 					<option value="">사용 여부</option> -->
<!-- 					<option value="0" th:selected="${vo.shDelNy == 0}">Y</option> -->
<!-- 					<option value="1" th:selected="${vo.shDelNy == 1}">N</option> -->
<!-- 				</select> -->
<!-- 				<div class="invalid-feedback">항목중 하나를 선택 해주세요.</div> -->
<!-- 			</div> -->
<!-- 			<div class="col-md-2"> -->
<!-- 				<select class="form-select" id="" disabled> -->
<!-- 					<option selected disabled value="">Y</option> -->
<!-- 					<option>아무거나</option> -->
<!-- 				</select> -->
<!-- 				<div class="invalid-feedback">항목중 하나를 선택 해주세요.</div> -->
<!-- 			</div> -->
				
			<div class="col-md-2">
				<select class="form-select " id="shOptionDate" name="shOptionDate"
					required>

					<option value="" th:selected="${vo.shOptionDate == null}">날짜</option>
					<option value="1" th:selected="${vo.shOptionDate == 1}">생년월일</option>
					<option value="2" th:selected="${vo.shOptionDate == 2}">등록일</option>
					<option value="3" th:selected="${vo.shOptionDate == 3}">수정일</option>
				</select>
				<div class="invalid-feedback">항목중 하나를 선택 해주세요.</div>
			</div>
			<div class="col-md-2">
				<input type="text" class="form-control datepicker " id="shDateStart"
					name="shDateStart" placeholder="시작일" readonly>
				<div class="invalid-feedback">시작 날짜를 입력해주세요.</div>
			</div>
			<div class="col-md-2">
				<input type="text" class="form-control datepicker " id="shDateEnd"
					name="shDateEnd" placeholder="종료일" readonly>
				<div class="invalid-feedback">종료 날짜를 입력해주세요.</div>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-2"></div>
				<div class="col-md-2"></div>
			<div class="col-md-2">
				<select class="form-select dd" id="shOption" name="shOption"
					required>
					<option value="">검색구분</option>
					<option value="1" th:selected="${vo.shOption == 1}">유저 번호</option>
					<option value="2" th:selected="${vo.shOption == 2}">유저 이름</option>
					<option value="3" th:selected="${vo.shOption == 3}">유저 닉네임</option>
					<option value="4" th:selected="${vo.shOption == 4}">성별</option>
				</select>
				<div class="invalid-feedback">항목중 하나를 선택 해주세요.</div>
				<div class="valid-feedback">훌륭 합니다 !</div>
			</div>
			<div class="col-md-2">
				<input type="text" class="form-control" placeholder="검색어"
					id="shValue" name="shValue" onkeyup="enterkey()"
					th:value="${vo.shValue}" required>
				<div class="invalid-feedback">항목을 입력해주세요.</div>
				<div class="valid-feedback">훌륭 합니다 !</div>

			</div>
			<div class="col-md-8">
				<button class="btn btn-outline-dark" type="button" id="btnSearch">
					<i class="bi bi-search"></i>
				</button>
				<a class="btn btn-outline-dark" type="button" href="/userXdmList">
					<i class="bi bi-arrow-clockwise"></i>
				</a>
			</div>

			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-10" style="height: 50px;">
								<h5 class="card-title-list">Total : [[${vo.totalRows}]]</h5>
							</div>
							<div class="col-md-2 select-col">
								<select class="form-select select-end" name="perPage"
									onchange="getNum()">
									<option value="5" th:selected="${vo.rowNumToShow == 5}">5</option>
									<option value="10" th:selected="${vo.rowNumToShow == 10}">10</option>
									<option value="15" th:selected="${vo.rowNumToShow == 15}">15</option>
								</select>
							</div>
						</div>
					</div>

					<!-- Table with stripped rows -->
					<table class="table datatable" id="datatable">
						<thead>
							<tr>

								<th data-sortable="false"
									style="text-align: center; width: 100px;"><div
										class="checked">
										<input type="checkbox" class="form-check" name="userCheck"
											value="selectall" onclick="selectAll(this)">
									</div></th>
								<th data-sortable="false"
									style="width: 10px; text-align: center;">#</th>
								<th class="list-sort" style="text-align: center;">seq</th>
								<th class="list-sort" style="text-align: center;">유저 이름</th>
								<th class="list-sort" style="text-align: center;">성별</th>
								<th class="list-sort" style="text-align: center;">생년 월일</th>
								<th class="list-sort" style="text-align: center;">닉네임</th>
								<th class="list-sort" style="text-align: center;">아이디</th>
								<th class="list-sort" style="text-align: center;">이메일</th>
								<th class="list-sort" style="text-align: center;">등록일</th>
								<th class="list-sort" style="text-align: center;">수정일</th>

							</tr>
						</thead>
						<tbody>
							<tr th:if="${#lists.isEmpty(list)}">
								<td colspan="14" style="text-align: center; padding-top: 20px;">
									<div>
										<p>There are no data!</p>
									</div>
								</td>
							</tr>

							<tr th:if="${!#lists.isEmpty(list)}" th:each="list:${list}">
								<td>
									<div class="checked">
										<input type="checkbox" class="form-check" name="userCheck"
											value="checke" onclick="updateSelectAll()">
									</div>
								</td>
								<td th:text="${list.urSeq}"></td>
								<td th:text="${list.urSeq}"></td>
								<td><a th:href="@{/userXdmForm(seq=${list.seq})}"
									th:text="${list.name}"></a></td>
								<td th:text="${@codeService.selectOneCachedCode(list.gender)}"></td>
								<td th:text="${list.dob}"></td>
								<td th:text="${list.nickName}"></td>
								<td th:text="${list.id}"></td>
								<td th:text="${list.email}"></td>
								<td th:text="${list.urReg}"></td>
								<td th:text="${list.urMof}"></td>
							</tr>
						</tbody>
						<tfoot>

						</tfoot>

					</table>
					<div class="row">
						<nav aria-label="Page navigation example"
							style="display: flex; justify-content: center;">
							<ul class="pagination" id="pagination">
								<li th:if="${vo.startPage gt vo.pageNumToShow}"
									class="page-item" style="cursor: pointer;"><a
									class="page-link" href="javascript:goList(${vo.startPage - 1})"
									th:attr="onclick=|goList('${vo.startPage - 1}')|"> <i
										class="fa-solid fa-angle-left"></i>
								</a></li>
								<li
									th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}"
									th:classappend="${num eq vo.thisPage} ? active : ''"
									class="page-item" style="cursor: pointer;"><a
									class="page-link" th:attr="onclick=|goList('${num}')|"
									th:text="${num}"> <!-- ${i.index} -->
								</a></li>
								<li th:if="${vo.endPage ne vo.totalPages}" class="page-item"
									style="cursor: pointer;"><a class="page-link"
									th:attr="onclick=|goList('${vo.endPage + 1}')|"> <i
										class="fa-solid fa-angle-right"></i>
								</a></li>
							</ul>
						</nav>

					</div>
					<div class="row">
						<div class="col-md-6 padding-left">
							<button class="btn btn-danger">X</button>
							<button class="btn btn-danger" id="cgSetBtn">
								<i class="bi bi-trash"></i>
							</button>
						</div>
						<div class="col-md-6 padding-right"
							style="display: flex; justify-content: end;">

							<button type="button" class="btn btn-success btn-right">
								<i class="bi bi-journal-x"></i>
							</button>
							<a href="javascript:void(0);" class="btn btn-primary"><i
								class="bi bi-plus-lg"></i></a>
						</div>
					</div>

				</div>
			</div>
		</form>
	</section>

</main>


<div th:replace="~{xdm/include/footer :: footer}"></div>
<script
	src="/xdm/template/NiceAdmin/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script
	src="/xdm/template/NiceAdmin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script
	src="/xdm/template/NiceAdmin/assets/vendor/chart.js/chart.umd.js"></script>
<script
	src="/xdm/template/NiceAdmin/assets/vendor/echarts/echarts.min.js"></script>
<script src="/xdm/template/NiceAdmin/assets/vendor/quill/quill.js"></script>
<script
	src="/xdm/template/NiceAdmin/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script
	src="/xdm/template/NiceAdmin/assets/vendor/tinymce/tinymce.min.js"></script>
<script
	src="/xdm/template/NiceAdmin/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->

<script src="/xdm/template/NiceAdmin/assets/js/main.js"></script>
<script type="text/javascript">
let form = document.querySelector("form[name=formList]");

	function selectAll(selectAll){
	   	const checkeded = document.getElementsByName("userCheck");
	   	
	   	checkeded.forEach((checkbox)=>{
	   		checkbox.checked = selectAll.checked;
	   	})
	  	}
	 function updateSelectAll() {
         const checkboxes = document.querySelectorAll('input[name="userCheck"]');
         
         // 전체 선택 체크박스는 첫 번째 체크박스로 가정
         const selectAllCheckbox = checkboxes[0]; 

         // 모든 체크박스가 체크되었는지 확인
         const allChecked = Array.from(checkboxes).every(checkbox => checkbox.checked);

         // 모든 체크박스가 체크되었을 때만 전체 선택 체크박스를 체크, 하나라도 해제되면 해제
         selectAllCheckbox.checked = allChecked;
     }
	 
	
	
	
	function goList(Num){
		document.querySelector("input[name=thisPage]").value = Num;
		form.action = "/userXdmList"
		form.submit();
	}
	 
	 
	
	function getNum(){
		let dfNum = document.getElementsByName("perPage")[0];
		let ixNum = dfNum.selectedIndex;
		let vlNum = dfNum.options[ixNum].value;
		document.querySelector("input[name=rowNumToShow]").value = vlNum;
		
		form.action = "/userXdmList"
		form.submit();
	}
	

	let input = document.getElementsByClassName("ss");
 	let select = document.getElementsByClassName("dd");
	 function enterkey(){
		 if(event.key == "Enter"){
			 form.action ="/userXdmList";
			 form.submit();
		 }
	 }
	 	
		 document.getElementById("btnSearch").onclick = function(){
		
		 form.action ="/userXdmList";
		 form.submit();
		 }
		 
		 
		 document.getElementById("shOption").onchange = function(){
				let shOption = this;
				if(shOption.selectedIndex === 0){
					shOption.classList.add("is-invalid");
					shOption.classList.remove("is-valid");
				}else{
					shOption.classList.add("is-valid");
					shOption.classList.remove("is-invalid");
				}
			}  	
		 document.getElementById("shOptionDate").onchange = function(){
				let shOption = this;
				if(shOption.selectedIndex === 0){
					shOption.classList.add("is-invalid");
					shOption.classList.remove("is-valid");
				}else{
					shOption.classList.add("is-valid");
					shOption.classList.remove("is-invalid");
				}
			}  	
		 $("#btnSignout").on("click", function(){
				$.ajax({
					async: true 
					,cache: false
					,type: "post"
					,url: "/signoutXdmProc"
					,data: {}
					,success: function(response) {
						if(response.rt == "success") {
						
							location.href = "/signinXdmForm";
						} else {
							// by pass
						}
					}
					,error : function(jqXHR, textStatus, errorThrown){
						alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
					}
				});
			});
		 let targetUrl = window.location.pathname; // 원하는 URL로 변경
		 let main = document.querySelector("#userMain");
		 let serve = document.querySelector("#blogServe");
		 let inner = document.querySelector("#codyInner");

		     if ("/userXdmList" === targetUrl) {
		 			main.classList.remove("collapsed");
// 		    	 inner.classList.add("active");
		    	
// 		 			 serve.classList.remove("collapse");
		     }
	
	

	</script>
</body>

</html>
