<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer">
<!-- Footer -->
<!-- footer -->
<footer class="footer" style="background-color:#fdf3e5;">
	<div class="container">
				<h6 class="mb-4">블로그</h6>
				<div class="border-top py-4"></div>
				<div class="row">
					<div class="col-3">
						<!-- list -->
						<ul class="nav flex-column">
							<li class="nav-item"><a style="cursor:pointer;"  id="springMinner" onclick="springM()" class="nav-link" >봄 남성 코디</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a style="cursor:pointer;"  id="springFinner" onclick="springF()" class="nav-link">봄 여성 코디</a></li>
                                          <!-- nav item -->
						</ul>
					</div>
					<div class="col-3">
						<!-- list -->
						<ul class="nav flex-column">
							<li class="nav-item"><a style="cursor:pointer;"  id="summerMinner" onclick="summerM()" class="nav-link">여름 남성 옷 코디</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a style="cursor:pointer;"  id="summerFinner" onclick="summerF()" class="nav-link">여름 여성 옷 코디</a></li>
                                          <!-- nav item -->
						</ul>
					</div>
					<div class="col-3">
						<!-- list -->
						<ul class="nav flex-column">
							 <li class="nav-item">
                                             <a  style="cursor:pointer;" class="nav-link"  id="fallMinner" onclick="fallM()" >가을 남성 옷 코디
                                                </a>
                                          </li>
                                          <!-- nav item -->
                                          <li class="nav-item">
                                             <a style="cursor:pointer;" class="nav-link" id="fallFinner" onclick="fallF()" >가을 여성 옷 코디</a>
                                          </li>
						</ul>
					</div>
					<div class="col-3">
						<!-- list -->
						<ul class="nav flex-column">
							 <li class="nav-item"><a style="cursor:pointer;"  id="winterMinner" onclick="winterM()" class="nav-link">겨울 남성 옷 코디</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a style="cursor:pointer;"  id="winterFinner" onclick="winterF()" class="nav-link">겨울 여성 옷 코디</a></li>
                                         
						</ul>
					</div>
				</div>
		
	</div>
	<script type="text/javascript">
	function springM(){
		document.querySelector("input[name=blogCategory_seq]").value = 1;
		form.action ="/blogUsrList";
		form.submit();
	}
	function springF(){
		document.querySelector("input[name=blogCategory_seq]").value = 2;
		form.action ="/blogUsrList";
		form.submit();
	}
	function summerM(){
		console.log("gd");
		document.querySelector("input[name=blogCategory_seq]").value = 3;
		form.action ="/blogUsrList";
		form.submit();
	}
	function summerF(){
		document.querySelector("input[name=blogCategory_seq]").value = 4;
		form.action ="/blogUsrList";
		form.submit();
	}
	function fallM(){
		document.querySelector("input[name=blogCategory_seq]").value = 5;
		form.action ="/blogUsrList";
		form.submit();
	}
	function fallF(){
		document.querySelector("input[name=blogCategory_seq]").value = 6;
		form.action ="/blogUsrList";
		form.submit();
	}
	function winterM(){
		console.log("gggg");
		document.querySelector("input[name=blogCategory_seq]").value = 7;
		form.action ="/blogUsrList";
		form.submit();
	}
	function winterF(){
		document.querySelector("input[name=blogCategory_seq]").value = 8;
		form.action ="/blogUsrList";
		form.submit();
	}
	function myBlog(){
		form.action = "/userUsrBlog";
		form.submit();
	}
	</script>
</footer>
</th:block>