
<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">

<div th:replace="~{usr/include/indexUsrHead :: head}"></div>
<main>
	<section class="mt-8">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-12 mb-4">
					<div class="card-title text-center"></div>
					<div class="card" style="height:100%; ">
						<div
							class="card-body d-flex align-items-center justify-content-center"
							style="background-color: #ffffff; border-radius: 16px; padding: 24px; box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05); display: flex; flex-direction: column; align-items: center; text-align: center;">
							
							<div id="weatherSpinner"
								style="display: none; text-align: center;">
								<img
									src="/usr/template/staticfinal/dist/assets/images/about/spinner.png"
									alt="로딩 중..." style="width: 80px;" />
								<p style="margin-top: 10px;">날씨 정보 불러오는 중...</p>
							</div>
							<div class="row w-100">
								<div
									class="col-md-6 col-12 text-center mb-4 mb-md-0 d-flex flex-column justify-content-center"
									style="min-height: 100%;">
									<h3 id="weather-Info"
										style="font-size: 1.2rem; color: #6a4a2f; font-weight: 500;"></h3>
									<h1 id="temp"
										style="font-size: 2.5rem; font-weight: bold; color: #6a4a2f; margin: 12px 0;"></h1>
									<h1 id="minMax"
										style="font-size: 1.5rem; font-weight: bold; color: #6a4a2f; margin: 12px 0;"></h1>
								</div>
								<div class="col-md-6 col-12 text-center">
									<div class="pt-md-3 pt-1">
										<h2 id="locationName"
											style="font-size: 1.2rem; color: #9c897b;"></h2>
										<img id="weatherIcon" src="" alt="날씨 이미지"
											style="width: 100%; max-width: 300px; height: auto; display: none;">

									</div>

								</div>
								
							</div>
						
						</div>
						
					</div>
					<div style="display: flex; justify-content: end;">
									<h6 style="font-size: 0.5rem; color: #6a4a2f; margin: 12px 0;">openWeatherApi
										제공</h6>
								</div>
				</div>

				<div class="col-lg-4 col-12">
					<div class="card"
						style="background-color: #ffffff; border-radius: 16px; padding: 24px; box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05); text-align: center;">
						<div class="card-body" id="clothe"
							style="width: 100%; border-radius: 12px; margin-bottom: 12px; min-height: 370px; background-color: #fdf6ec;">
						</div>
						<div class="text-center py-4">
							<h3 style="color: #6a4a2f;">오늘의 추천 옷차림</h3>
							<!-- 							<h1 style="font-size: 2rem; color: darkslategray;">얇은 셔츠, -->
							<!-- 								청바지</h1> -->
							<!-- 							<h2>입니다</h2> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Category Section Start-->
	<section class="mb-lg-10 mt-lg-14 my-8"
		style="margin: 10px 0px 48px !important;">
		<div class="container">
			<div class="row">
				<div class="col-12 mb-6">
					<h3 class="mb-0">
						이번주 날씨 <span style="font-size: 0.5rem; color: #6a4a2f; margin: 12px 0;">openWeatherApi
										제공</span>
					</h3>
				</div>
			</div>
			<div class="category-slider ">
				<div class="item" style="text-align: center;">
					<div class="card-title">
						<h5 id="dailyTitle0"></h5>
					</div>
					<div class="card" style="height: 160px; background-color:#fdf6ec !important;">
						<div class="card-body " id="dailyImage0"
							style=" background-size: cover; background-position: center; border-radius: 0.5rem;">
						</div>
						<div>
							<h5 class="dayMinMax" id="dayMinMax0"
								style="font-size: 1.2rem; color: #6a4a2f;"></h5>
						</div>
					</div>
				</div>
				<div class="item" style="text-align: center;">
					<div class="card-title">
						<h5 id="dailyTitle1"></h5>
					</div>
					<div class="card" style="height: 160px; background-color:#fdf6ec !important;">
						<div class="card-body " id="dailyImage1"
							style="background-size: cover; background-position: center; border-radius: 0.5rem;">
						</div>
						<div>
							<h5 class="dayMinMax" id="dayMinMax1"
								style="font-size: 1.2rem; color: #6a4a2f;"></h5>
						</div>
					</div>
				</div>
				<div class="item" style="text-align: center;">
					<div class="card-title">
						<h5 id="dailyTitle2"></h5>
					</div>
					<div class="card" style="height: 160px; background-color:#fdf6ec !important;">
						<div class="card-body " id="dailyImage2"
							style="background-size: cover; background-position: center; border-radius: 0.5rem;">
						</div>
						<div>
							<h5 class="dayMinMax" id="dayMinMax2"
								style="font-size: 1.2rem; color: #6a4a2f;"></h5>
						</div>
					</div>
				</div>
				<div class="item" style="text-align: center;">
					<div class="card-title">
						<h5 id="dailyTitle3"></h5>
					</div>
					<div class="card" style="height: 160px; background-color:#fdf6ec !important;">
						<div class="card-body " id="dailyImage3"
							style="background-size: cover; background-position: center; border-radius: 0.5rem;">
						</div>
						<div>
							<h5 class="dayMinMax" id="dayMinMax3"
								style="font-size: 1.2rem; color: #6a4a2f;"></h5>
						</div>
					</div>
				</div>
				<div class="item" style="text-align: center;">
					<div class="card-title">
						<h5 id="dailyTitle4"></h5>
					</div>
					<div class="card" style="height: 160px; background-color:#fdf6ec !important;">
						<div class="card-body " id="dailyImage4"
							style="background-size: cover; background-position: center; border-radius: 0.5rem;">
						</div>
						<div>
							<h5 class="dayMinMax" id="dayMinMax4"
								style="font-size: 1.2rem; color: #6a4a2f;"></h5>
						</div>
					</div>
				</div>
				<div class="item" style="text-align: center;">
					<div class="card-title">
						<h5 id="dailyTitle5"></h5>
					</div>
					<div class="card" style="height: 160px; background-color:#fdf6ec !important;">
						<div class="card-body " id="dailyImage5"
							style="background-size: cover; background-position: center; border-radius: 0.5rem;">
						</div>
						<div>
							<h5 class="dayMinMax" id="dayMinMax5"
								style="font-size: 1.2rem; color: #6a4a2f;"></h5>
						</div>
					</div>
				</div>
				<div class="item" style="text-align: center;">
					<div class="card-title">
						<h5 id="dailyTitle6"></h5>
					</div>
					<div class="card" style="height: 160px; background-color:#fdf6ec !important;">
						<div class="card-body " id="dailyImage6"
							style="background-size: cover; background-position: center; border-radius: 0.5rem;">
						</div>
						<div>
							<h5 class="dayMinMax" id="dayMinMax6"
								style="font-size: 1.2rem; color: #6a4a2f;"></h5>
						</div>
					</div>
				</div>
				<div class="item" style="text-align: center;">
					<div class="card-title">
						<h5 id="dailyTitle7"></h5>
					</div>
					<div class="card" style="height: 160px; background-color:#fdf6ec !important;">
						<div class="card-body " id="dailyImage7"
							style="background-size: cover; background-position: center; border-radius: 0.5rem;">
						</div>
						<div>
							<h5 class="dayMinMax" id="dayMinMax7"
								style="font-size: 1.2rem; color: #6a4a2f;"></h5>
						</div>
					</div>
				</div>

			</div>

		</div>
	</section>


	<!-- Category Section End-->
	<section>
		<div class="container">
			<div class="row">

				<div class="col-12 col-md-6 mb-3">
					<div class="h-100 py-5 px-4 rounded"
						style="height: 300px; background: url(/usr/template/staticfinal/dist/assets/images/weather/indexBlog.jpg) no-repeat center center/cover;">
						<div style="padding-top: 20px; padding-left: 20px;">

							<h3 class="fw-bold mb-1">내일은 뭐입지?</h3>
							<h3 class="fw-bold mb-1">코디 블로그</h3>
							<p class="mb-4">
								<span class="fw-bold"></span>
							</p>
							<a onclick="blogLink()" class="btn btn-dark">이동하기</a>
						</div>
					</div>
				</div>

				<!-- 오른쪽 날씨 뉴스 카드 -->
				<div class="col-12 col-md-6 mb-3">
					<div class="h-100 py-5 px-4 rounded"
						style="height: 300px; background-color: #fdf6ec;">
						<div>
							<h3 class="fw-bold mb-4 text-center">오늘의 날씨 뉴스</h3>
							<ul id="newsList" class="fs-4">
								<!-- 뉴스 항목들 동적으로 추가됨 -->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div style="height: 200px;"></div>
	<!-- Modal -->
	<div class="modal fade" id="quickViewModal" tabindex="-1"
		aria-hidden="true">
		<div class="modal-dialog modal-xl modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body p-8">
					<div class="position-absolute top-0 end-0 me-3 mt-3">
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<!-- img slide -->
							<div class="product productModal" id="productModal">
								<div class="zoom" onmousemove="zoom(event)"
									style="background-image: url(/usr/template/staticfinal/dist/assets/images/products/product-single-img-1.jpg);">
									<!-- img -->
									<img
										src="/usr/template/staticfinal/dist/assets/images/products/product-single-img-1.jpg"
										alt="">
								</div>
								<div>
									<div class="zoom" onmousemove="zoom(event)"
										style="background-image: url(/usr/template/staticfinal/dist/assets/images/products/product-single-img-2.jpg);">
										<!-- img -->
										<img
											src="/usr/template/staticfinal/dist/assets/images/products/product-single-img-2.jpg"
											alt="">
									</div>
								</div>
								<div>
									<div class="zoom" onmousemove="zoom(event)"
										style="background-image: url(/usr/template/staticfinal/dist/assets/images/products/product-single-img-3.jpg);">
										<!-- img -->
										<img
											src="/usr/template/staticfinal/dist/assets/images/products/product-single-img-3.jpg"
											alt="">
									</div>
								</div>
								<div>
									<div class="zoom" onmousemove="zoom(event)"
										style="background-image: url(/usr/template/staticfinal/dist/assets/images/products/product-single-img-4.jpg);">
										<!-- img -->
										<img
											src="/usr/template/staticfinal/dist/assets/images/products/product-single-img-4.jpg"
											alt="">
									</div>
								</div>
							</div>
							<!-- product tools -->
							<div class="product-tools">
								<div class="thumbnails row g-3" id="productModalThumbnails">
									<div class="tns-nav-active col-3">
										<div class="thumbnails-img">
											<!-- img -->
											<img
												src="/usr/template/staticfinal/dist/assets/images/products/product-single-img-1.jpg"
												alt="">
										</div>
									</div>
									<div class="col-3">
										<div class="thumbnails-img">
											<!-- img -->
											<img
												src="/usr/template/staticfinal/dist/assets/images/products/product-single-img-2.jpg"
												alt="">
										</div>
									</div>
									<div class="col-3">
										<div class="thumbnails-img">
											<!-- img -->
											<img
												src="/usr/template/staticfinal/dist/assets/images/products/product-single-img-3.jpg"
												alt="">
										</div>
									</div>
									<div class="col-3">
										<div class="thumbnails-img">
											<!-- img -->
											<img
												src="/usr/template/staticfinal/dist/assets/images/products/product-single-img-4.jpg"
												alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="ps-lg-8 mt-6 mt-lg-0">
								<a href="#!" class="mb-4 d-block">Bakery Biscuits</a>
								<h2 class="mb-1 h1">Napolitanke Ljesnjak</h2>
								<div class="mb-4">
									<small class="text-warning"> <i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i> <i class="bi bi-star-half"></i></small><a
										href="#" class="ms-2">(30 reviews)</a>
								</div>
								<div class="fs-4">
									<span class="fw-bold text-dark">$32</span> <span
										class="text-decoration-line-through text-muted">$35</span><span><small
										class="fs-6 ms-2 text-danger">26% Off</small></span>
								</div>
								<hr class="my-6">
								<div class="mb-4">
									<button type="button" class="btn btn-outline-secondary">
										250g</button>
									<button type="button" class="btn btn-outline-secondary">
										500g</button>
									<button type="button" class="btn btn-outline-secondary">
										1kg</button>
								</div>
								<div>
									<!-- input -->
									<!-- input -->
									<div class="input-group input-spinner  ">
										<input type="button" value="-"
											class="button-minus  btn  btn-sm " data-field="quantity">
										<input type="number" step="1" max="10" value="1"
											name="quantity"
											class="quantity-field form-control-sm form-input   ">
										<input type="button" value="+" class="button-plus btn btn-sm "
											data-field="quantity">
									</div>
								</div>
								<div
									class="mt-3 row justify-content-start g-2 align-items-center">

									<div class="col-lg-4 col-md-5 col-6 d-grid">
										<!-- button -->
										<!-- btn -->
										<button type="button" class="btn btn-primary">
											<i class="feather-icon icon-shopping-bag me-2"></i>Add to
											cart
										</button>
									</div>
									<div class="col-md-4 col-5">
										<!-- btn -->
										<a class="btn btn-light" href="#" data-bs-toggle="tooltip"
											data-bs-html="true" aria-label="Compare"><i
											class="bi bi-arrow-left-right"></i></a> <a class="btn btn-light"
											href="#!" data-bs-toggle="tooltip" data-bs-html="true"
											aria-label="Wishlist"><i class="feather-icon icon-heart"></i></a>
									</div>
								</div>
								<hr class="my-6">
								<div>
									<table class="table table-borderless">
										<tbody>
											<tr>
												<td>Product Code:</td>
												<td>FBB00255</td>
											</tr>
											<tr>
												<td>Availability:</td>
												<td>In Stock</td>
											</tr>
											<tr>
												<td>Type:</td>
												<td>Fruits</td>
											</tr>
											<tr>
												<td>Shipping:</td>
												<td><small>01 day shipping.<span
														class="text-muted">( Free pickup today)</span></small></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="modal fade" id="searchModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog ">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="modalHead"></h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body" id="modalText"></div>
				<div class="modal-footer">
					<a class="btn btn-secondary" data-bs-dismiss="modal"
						onclick="btnClick()">확인</a>
					<!--         <button type="button" class="btn btn-primary">Save changes</button> -->
				</div>
			</div>
		</div>
	</div>
</main>
</form>
<div th:replace="~{usr/include/footer :: footer}"></div>
<!-- Javascript-->

<!-- Libs JS -->
<!-- <script src="./assets/libs/jquery/dist/jquery.min.js"></script> -->
<script
	src="/usr/template/staticfinal/dist/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script
	src="/usr/template/staticfinal/dist/assets/libs/simplebar/dist/simplebar.min.js"></script>

<!-- Theme JS -->
<script src="/usr/template/staticfinal/dist/assets/js/theme.min.js"></script>

<script
	src="/usr/template/staticfinal/dist/assets/js/vendors/jquery.min.js"></script>
<script
	src="/usr/template/staticfinal/dist/assets/js/vendors/countdown.js"></script>
<script
	src="/usr/template/staticfinal/dist/assets/libs/slick-carousel/slick/slick.min.js"></script>
<script
	src="/usr/template/staticfinal/dist/assets/js/vendors/slick-slider.js"></script>
<script
	src="/usr/template/staticfinal/dist/assets/libs/tiny-slider/dist/min/tiny-slider.js"></script>
<script
	src="/usr/template/staticfinal/dist/assets/js/vendors/tns-slider.js"></script>
<script src="/usr/template/staticfinal/dist/assets/js/vendors/zoom.js"></script>
<script
	th:src="'https://dapi.kakao.com/v2/maps/sdk.js?appkey='+${kakaojskey}+'&libraries=services'"></script>

<script type="text/javascript" th:inline="javascript">
	let loginf = document.getElementById("loginf");
	let logins = document.getElementById("logins");
	let wish = document.getElementById("wish");
	let cart = document.getElementById("cart");
	let form = document.getElementById("formList");
	let sessionSeq = [[${session.sessSeqUsr}]];
	 document.getElementById("weatherSpinner").style.display = "block";
	console.log(sessionSeq);
	if(!sessionSeq){
		wish.style.display="none";
// 		cart.style.display="none";
		logins.style.display = "none";
	}else{
		loginf.style.display = "none";
	}
	function infoLink() {
		form.action ="/userUsrInfo";
		form.submit();
	}
	function blogLink(){
		document.querySelector("input[name=blogCategory_seq]").value = "9";
		document.querySelector("input[name=isSearch]").value = "true";
		form.action ="/blogUsrList";
		form.submit();
	}
	
	let rssUrl = "https://news-ex.jtbc.co.kr/v1/get/rss/section/80";
	let apiUrl = "https://api.rss2json.com/v1/api.json?rss_url=" + encodeURIComponent(rssUrl);

	$.ajax({
	  url: apiUrl,
	  method: "GET",
	  dataType: "json",
	  success: function(data) {
	    let container = document.getElementById("newsList");
	    let item = data.items.slice(0, 3); // 가장 최신 3개 기사

	    for (let i = 0; i < item.length; i++) {
	      let li = document.createElement("li");
	      let link = document.createElement("a");
	      link.href = item[i].link;
	      link.target = "_blank";
	      link.textContent = item[i].title;

	      li.appendChild(link);
	      container.appendChild(li);
	    }
	  },
	  error: function(xhr, status, error) {
	    console.error("RSS 불러오기 실패:", error);
	  }
	});

	  
	  
	  // 위치 가져오기
	  navigator.geolocation.getCurrentPosition(function(position) {
 	 // 위치 권한 허용한 경우
 	 var lat = position.coords.latitude;
 	 var lon = position.coords.longitude;
 	var geocoder = new kakao.maps.services.Geocoder();
 	geocoder.coord2RegionCode(lon, lat, function(result, status) {
 	  if (status === kakao.maps.services.Status.OK) {
 	    var region = result[0];
 	    var locationName = region.region_1depth_name + " " +
 	                       region.region_2depth_name + " " +
 	                       region.region_3depth_name;

 	    callWeatherApi(lat, lon, locationName); // 지역명 같이 넘기기
 	  }
 	});
		}, function(error) {
 	 // 위치 권한 실패한 경우 fallback
 	 console.warn("위치 실패:", error.message);

 	 var lat = 37.6515320453855;
 	 var lon = 127.113100516238;
 	var geocoder = new kakao.maps.services.Geocoder();
 	geocoder.coord2RegionCode(lon, lat, function(result, status) {
 	  if (status === kakao.maps.services.Status.OK) {
 	    var region = result[0];
 	    var locationName = region.region_1depth_name + " " +
 	                       region.region_2depth_name + " " +
 	                       region.region_3depth_name;

 	    callWeatherApi(lat, lon, locationName); // 지역명 같이 넘기기
 	  }
 	});
		});
	  
	  function callWeatherApi(lat, lon, locationName) {
		 
		 
		  $.ajax({
			  url: "/api/weather",
			  type: "POST",
			  contentType: "application/json",
			  data: JSON.stringify({ lat: lat, lon: lon }),
			  success: function(data) {
			    let tempInt = parseInt(data.temp);
			    let iconUrl = "https://openweathermap.org/img/wn/" + data.icon + "@2x.png";
			    let tempMin = parseInt(data.tempMin);
			    let tempMax = parseInt(data.tempMax);
			    let dailyList = data.daily;
			    console.log(dailyList.length);

			    document.getElementById("locationName").innerHTML = locationName;
			    document.getElementById("weather-Info").innerHTML = "<b>" + data.description + "</b>";
			    document.getElementById("minMax").innerHTML = tempMin + "°C / " + tempMax + "°C";
			    document.getElementById("temp").innerHTML = tempInt + "°C";
			    document.getElementById("weatherIcon").src = iconUrl;

			    var backgroundUrl = "";
			    if (tempInt > -20 && tempInt <= -5) backgroundUrl = "-10.jpg";
			    else if (tempInt > -5 && tempInt <= 5) backgroundUrl = "-5.jpg";
			    else if (tempInt > 5 && tempInt <= 13) backgroundUrl = "5.jpg";
			    else if (tempInt > 13 && tempInt <= 18) backgroundUrl = "13.jpg";
			    else if (tempInt > 18 && tempInt <= 27) backgroundUrl = "18.jpg";
			    else if (tempInt > 27 && tempInt <= 31) backgroundUrl = "27.jpg";
			    else if (tempInt > 31) backgroundUrl = "31.jpg";

			    document.getElementById("clothe").style.background =
			      "url('/usr/template/staticfinal/dist/assets/images/bannerClothe/" + backgroundUrl + "') no-repeat center center/contain";

			    for (let i = 0; i < dailyList.length; i++) {
			      let dailyMin = parseInt(dailyList[i].min);
			      let dailyMax = parseInt(dailyList[i].max);
			      let dailyIcon = "https://openweathermap.org/img/wn/" + dailyList[i].icon + "@2x.png";

			      document.getElementById("dailyImage" + i).style.background = "url('" + dailyIcon + "') no-repeat center/cover";
			      document.getElementById("dayMinMax" + i).innerHTML = dailyMin + "°C / " + dailyMax + "°C";
			      document.getElementById("dailyTitle" + i).innerHTML = dailyList[i].date;
			    }
			  },
			  error: function(xhr, status, error) {
			    console.error("날씨 정보 가져오기 실패:", error);
			  },
			  complete: function() {
			    document.getElementById("weatherSpinner").style.display = "none";
			    document.getElementById("weatherIcon").style.display = "";
			  }
			});

		}
	  
	  function searchWeather() {
		  let address = document.getElementById("searchLocation").value;
		  let flag = true;
		  if (!address.trim()) {
		   document.querySelector("#modalHead").textContent = "확인";
		   document.querySelector("#modalText").textContent = "지역명을 확인해주세요";
		   flag = false;
		   $("#searchModal").modal("show");
		  }
		
		  if(flag){
		  var geocoder = new kakao.maps.services.Geocoder();
		  geocoder.addressSearch(address, function(result, status) {
		    if (status === kakao.maps.services.Status.OK) {
		      var lat = result[0].y;
		      var lon = result[0].x;

		      var locationName = result[0].address_name;

		      callWeatherApi(lat, lon, locationName);
		    } else {
		    	 document.querySelector("#modalHead").textContent = "확인";
				   document.querySelector("#modalText").textContent = "지역명을 확인해주세요";
				   $("#searchModal").modal("show");
		    }
		  });
		  }
	  }
	  
	  function enterKey(event){
		  if(event.key =="Enter"){
			  searchWeather();
		  }
	  }
	  
	  function btnClick(){
		  return false;
	  }
	  
</script>

</body>

</html>