<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta content="Codescandy" name="author">
<title>로그인</title>
<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon"
	href="/usr/template/staticfinal/dist/assets/images/banner/weatherLogo.png">


<!-- Libs CSS -->
<link
	href="/usr/template/staticfinal/dist/assets/libs/bootstrap-icons/font/bootstrap-icons.min.css"
	rel="stylesheet">
<link
	href="/usr/template/staticfinal/dist/assets/libs/feather-webfont/dist/feather-icons.css"
	rel="stylesheet">
<link
	href="/usr/template/staticfinal/dist/assets/libs/simplebar/dist/simplebar.min.css"
	rel="stylesheet">


<!-- Theme CSS -->
<link rel="stylesheet"
	href="/usr/template/staticfinal/dist/assets/css/theme.min.css">

</head>

<body style="background-color:#fdf3e5;">
	<!-- navigation -->
	<div class="border-bottom shadow-sm">
		<nav class="navbar navbar-light py-2" style="background-color:#fdf6ec !important;">
			<div
				class="container justify-content-center justify-content-lg-between">
				<a class="navbar-brand" href="/indexUsrView"> <img src="/usr/template/staticfinal/dist/assets/images/banner/weatherLogo.png" alt="eCommerce HTML Template" style="width: 7cap; height:50px; " id="title-logo">
							<label for="title-logo" style=" font-size:mideum; color:#6a4a2f ">내일은 맑음</label>
				</a>

			</div>
		</nav>
	</div>


	<main style="height: 800px;">
		<!-- section -->
		<section class="my-lg-14 my-8">
			<div class="container" style="padding-top: 50px;">
				<!-- row -->
				<div class="row justify-content-center align-items-center">
					<div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
						<!-- img -->
						<img
							src="/usr/template/staticfinal/dist/assets/images/banner/logintransfer.png"
							alt="" class="img-fluid" />
					</div>
					<!-- col -->
					<div
						class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1">
						<div class="mb-lg-9 mb-5">
							<h1 class="mb-1 h2 fw-bold">로그인</h1>
							<p>내일은 맑음에 오신것을 환영합니다, 이메일과 비밀번호를 입력해주세요 !</p>
						</div>

						<form class="needs-validation" id="formList" method="post"
							novalidate>
							<div class="row g-3">
								<!-- row -->

								<div class="col-12">
									<!-- input -->
									<input type="text" class="form-control ss" id="userId"
										name="userId" value="bogum" placeholder="아이디" 
										required autocomplete="off"/>
									<div class="invalid-feedback">아이디를 입력해주세요</div>
								</div>
								<div class="col-12">
									<!-- input -->
									<div class="password-field position-relative">
										<div class="password-field position-relative">
											<input type="password" class="form-control fakePassword ss"
												id="userPassword" name="userPassword" onkeyup="enterkey()"
												value="qhrja" required autocomplete="off"/>
											<span><i class="bi bi-eye-slash passwordToggler"></i></span>
											<div class="invalid-feedback">비밀번호를 입력해주세요</div>
										</div>
									</div>
								</div>
								<div class="d-flex justify-content-between">
									<!-- form check -->
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value=""
											id="flexCheckDefault" />
										<!-- label -->
										<label class="form-check-label" for="flexCheckDefault">아이디
											저장</label>
									</div>
									<div>
										비밀번호를 잊으셨나요? <a
											href="/usr/template/staticfinal/dist/pages/forgot-password.html">비밀번호
											찾기</a>
									</div>
								</div>
								<!-- btn -->
								<div class="col-12 d-grid">
									<button type="button" onclick="loginLogic()"
										class="btn btn-primary">로그인 하기</button>
								</div>
								<!-- link -->
								<div>
									아직 회원이 아니신가요? <a href="/signupUsrForm">회원 가입</a>
								</div>
							</div>
							<div class="modal fade" id="loginModal" tabindex="-1"
								aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog ">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="modalHead"></h1>
											<button type="button" class="btn-close"
												data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body" id="modalText"></div>
										<div class="modal-footer">
											<a class="btn btn-secondary" data-bs-dismiss="modal"
												onclick="btnClick()">확인</a>
											<!--         <button type="button" class="btn btn-primary">Save changes</button> -->
										</div>
									</div>
								</div>
							</div>
							<div class="modal fade" id="siModal" tabindex="-1"
								aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog ">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="modalHead"></h1>
											<button type="button" class="btn-close"
												data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body" id="modalText"></div>
										<div class="modal-footer">
											<a class="btn btn-secondary" data-bs-dismiss="modal"
												onclick="btnClick()">확인</a>
											<!--         <button type="button" class="btn btn-primary">Save changes</button> -->
										</div>
									</div>
								</div>
								</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</main>

	
	<div th:replace="~{usr/include/footer :: footer}"></div>
	<!-- Javascript-->
	<!-- Libs JS -->
	<!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->
	<script
		src="/usr/template/staticfinal/dist/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script
		src="/usr/template/staticfinal/dist/assets/libs/simplebar/dist/simplebar.min.js"></script>

	<!-- Theme JS -->
	<script src="/usr/template/staticfinal/dist/assets/js/theme.min.js"></script>

	<script
		src="/usr/template/staticfinal/dist/assets/js/vendors/password.js"></script>
	<script
		src="/usr/template/staticfinal/dist/assets/js/vendors/validation.js"></script>
	<script type="text/javascript">
		let input = document.getElementsByClassName("ss");
		function loginLogic() {
			$
					.ajax({
						async : true,
						cache : false,
						type : "post"
						/* ,dataType:"json" */
						,
						url : "/signinUsrProc"
						/* ,data : $("#formLogin").serialize() */
						,
						data : {
							"id" : $("#userId").val(),
							"password" : $("#userPassword").val()
						},
						success : function(response) {
							if (response.rt == "success") {

								location.href = "/indexUsrView";

							} else {
								document.getElementById("modalHead").innerText = "확 인";
								document.getElementById("modalText").innerText = "일치하는 회원이 존재 하지 않습니다!";
								$("#loginModal").modal("show");
							}
						},
						error : function(jqXHR, textStatus, errorThrown) {
							alert("ajaxUpdate " + jqXHR.textStatus + " : "
									+ jqXHR.errorThrown);
						}
					});
		}

		function btnClick() {
			document.getElementById("loginModal").style.display = "none";
			return false;
		}

		window.onload = function() {
			let input = document.querySelectorAll(".ss");
			for (let i = 0; i < input.length; i++) {
				if (input[i].value.trim() == null
						|| input[i].value.trim() == ""
						|| input[i].value.includes(" ")
						|| /[^a-zA-Z0-9가-힣]/.test(input[i].value)) {
					input[i].classList.add("is-invalid");
					input[i].classList.remove("is-valid");
				} else {
					input[i].classList.add("is-valid");
					input[i].classList.remove("is-invalid");
				}
			}
		}
		for (let i = 0; i < input.length; i++) {
			input[i].oninput = function() {
				let codeName = this;
				if (codeName.value.trim() == null
						|| codeName.value.trim() == ""
						|| codeName.value.includes(" ")
						|| /[^a-zA-Z0-9가-힣]/.test(codeName.value)) {
					codeName.classList.add("is-invalid");
					codeName.classList.remove("is-valid");
				} else {
					codeName.classList.add("is-valid");
					codeName.classList.remove("is-invalid");
				}
			}
		}
		
		function enterkey(){
			if(event.key == "Enter"){
		 	loginLogic();
			}
		}
	</script>
</body>

</html>