<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta content="Codescandy" name="author">
<title>회원 가입</title>
<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon"
	href="/usr/template/staticfinal/dist/assets/images/logo/태양.jpg">


<!-- Libs CSS -->
<link
	href="/usr/template/staticfinal/dist/assets/libs/bootstrap-icons/font/bootstrap-icons.min.css"
	rel="stylesheet">
<link
	href="/usr/template/staticfinal/dist/assets/libs/feather-webfont/dist/feather-icons.css"
	rel="stylesheet">
<link
	href="/usr/template/staticfinal/dist/assets/libs/simplebar/dist/simplebar.min.css"
	rel="stylesheet">


<!-- Theme CSS -->
<link rel="stylesheet"
	href="/usr/template/staticfinal/dist/assets/css/theme.min.css">
<link rel="stylesheet" href="/xdm/css/jquery.datetimepicker.min.css">
<script src="/xdm/js/jquery.datetimepicker.full.min.js"></script>
<script type="text/javascript">
	jQuery.datetimepicker.setLocale("ko");
	$(document).ready(function() {
		$(".datepicker").datetimepicker({
			timepicker : false,
			format : "Y-m-d",
			onChangeDateTime:function(ss,$input){
				let input = $input.val();
				if(!input){
					$input.addClass("is-invalid");
					$input.removeClass("is-valid");
				}else{
				$input.addClass("is-valid");
				$input.removeClass("is-invalid");
				}
			}
		});
	});
</script>
</head>

<body>
	<!-- navigation -->
	<div class="border-bottom shadow-sm">
		<nav class="navbar navbar-light py-2">
			<div
				class="container justify-content-center justify-content-lg-between">
				<a class="navbar-brand" href="/indexUsrView"> <img
					src="/usr/template/staticfinal/dist/assets/images/logo/태양.jpg"
					alt="" class="d-inline-block align-text-top" style="height: 20px;"
					id="sign-up-title"> <label for="sign-up-title"
					style="color: gray; font-size: x-large;">내일은 맑음</label>
				</a> <span class="navbar-text"> 이미 회원이신가요? <a style="color:green;"
					href="/signinUsrForm">로그인 하기</a>
				</span>
			</div>
		</nav>
	</div>


	<main style="height: 800px;">
		<!-- section -->

		<section class="my-lg-14 my-8">
			<!-- container -->
			<div class="container" style="padding-top: 1px;">
				<!-- row -->
				<div class="row justify-content-center align-items-center">
					<div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
						<!-- img -->
						<img
							src="/usr/template/staticfinal/dist/assets/images/logo/회원가입.png"
							alt="" class="img-fluid" />
					</div>
					<!-- col -->
					<div
						class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1" >
						<div class="mb-lg-9 mb-5">
							<h1 class="mb-1 h2 fw-bold">회원 가입</h1>
							<p>내일은 맑음에 오신것을 환영합니다, 회원가입을 진행해주세요 !</p>
						</div>
						<!-- form -->
						<form class="needs-validation" novalidate id="suForm">
							<input type="hidden" name="gender" >
							<div class="row g-3">
								<!-- col -->
								<div class="col-8">
									<!-- input -->
									<label for="formSignupfname" class="form-label visually-hidden">First
										Name</label> <input type="text" class="form-control "
										id="name" name="name" placeholder="이름" required autocomplete="off"/>
									<div class="invalid-feedback" id="nameInvalid">이름을 입력해주세요</div>
									<div class="valid-feedback" id="nameValid">이름을 입력해주세요</div>
								</div>
								<div class="col-2">
									<input type="radio" class="btn-check" id="boy" name="team"
										autocomplete="off" checked> <label class="btn"
										for="boy">남자</label>
								</div>
								<div class="col-2">
									<input type="radio" class="btn-check" id="girl" name="team"
										autocomplete="off"> <label class="btn" for="girl">여자</label>
								</div>
								<div class="col-12">
									<label for="dob" class="form-label visually-hidden">First
										Name</label> <input type="text" class="form-control datepicker"
										id="dob" name="dob" placeholder="생년월일 8자리"
										readonly required />
									<div class="invalid-feedback" id="dobInvalid"></div>
									<div class="valid-feedback" id="dobValid"></div>
								</div>
								<div class="col-8">
									<input type="text" class="form-control ss" name="postalCode" maxlength="5"
										placeholder="우편번호" required autocomplete="off"/>
									<div class="invalid-feedback">우편번호를 입력해주세요</div>
									<div class="valid-feedback">good!</div>
								</div>

								<div class="col-4">
									<button type="button" class="btn btn-primary"
										style="width: 100%;">+ 주소검색</button>
								</div>
								<div class="col-12">
									<input type="text" class="form-control ss" name="betterAddress"
										placeholder="상세주소" autocomplete="off">
										<div class="invalid-feedback">주소를 입력해주세요</div>
									<div class="valid-feedback">good!</div>
								</div>

								<div class="col-12">
									<!-- input -->
									<label for="email" class="form-label visually-hidden">Email</label>
									<input type="text" class="form-control" id="email"
										name="email" placeholder="email" required autocomplete="off"/>
									<div class="invalid-feedback" id="emailInvalid"></div>
									<div class="valid-feedback" id="emailValid"></div>
								</div>
								<div class="col-12">
									<!-- input -->
									<label for="nickname" class="form-label visually-hidden">Email</label>
									<input type="text" class="form-control " id="nickName"
										name="nickName" placeholder="닉네임" required autocomplete="off"/>
									<div class="invalid-feedback" id="nickNameInvalid"></div>
									<div class="valid-feedback" id="nickNameValid"></div>
								</div>
								<div class="col-12">
									<!-- input -->
									<label for="userId" class="form-label visually-hidden">ID</label>
									<input type="email" class="form-control "
										id="userId" name="id" placeholder="아이디" required autocomplete="off"/>
									<div class="invalid-feedback" id=invalid></div>
									<div class="valid-feedback" id=valid></div>
									
								</div>
								<div class="col-12">
									<div class="password-field position-relative">
										<label for="password" class="form-label visually-hidden">Password</label>
										<div class="password-field position-relative">
											<input type="password" class="form-control fakePassword "
												id="password" name="password"
												placeholder="비밀번호 (영문과 특수문자조합 10자리이상)" required /> <span><i
												class="bi bi-eye-slash passwordToggler"></i></span>
											<div class="invalid-feedback" id="passwordInvalid"></div>
											<div class="valid-feedback" id="passwordValid"></div>
										</div>
									</div>
								</div>
								<div class="col-12">
									<div class="password-field position-relative">
										<label for="passwordck" class="form-label visually-hidden">Password</label>
										<div class="password-field position-relative">
											<input type="password" class="form-control fakePassword "
												id="passwordck" name="passwordck"
												placeholder="비밀번호 확인 (영문과 특수문자조합 10자리이상)" onkeyup="enterkey()" required /> <span><i
												class="bi bi-eye-slash passwordToggler"></i></span>
											<div class="invalid-feedback" id="passwordckInvalid"></div>
											<div class="valid-feedback" id="passwordckValid"></div>
										</div>
									</div>
								</div>
								<!-- btn -->
								<div class="col-12 d-grid">
									<button type="button" id="subtn" onclick="subtnClick()" 
										class="btn btn-primary">회원가입</button>
								</div>

								<!-- text -->
								<!-- <p>
                  <small>
                    By continuing, you agree to our
                    <a href="#!">Terms of Service</a>
                    &
                    <a href="#!">Privacy Policy</a>
                  </small>
                </p> -->
							</div>
							<div class="modal fade" id="suModal" tabindex="-1"
								aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog ">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="modalHead"></h1>
											<button type="button" class="btn-close"
												data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body" id="modalText"></div>
										<div class="modal-footer">
											<a class="btn btn-secondary" data-bs-dismiss="modal"
												onclick="btnClick()">확인</a>
											<!--         <button type="button" class="btn btn-primary">Save changes</button> -->
										</div>
									</div>
								</div>
								</div>
								
							<div class="modal fade" id="completeModal" tabindex="-1"
								aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog ">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="completeHead"></h1>
											<button type="button" class="btn-close"
												data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body" id="completeText"></div>
										<div class="modal-footer">
											<a class="btn btn-secondary" data-bs-dismiss="modal"
												onclick="complete()">확인</a>
											<!--         <button type="button" class="btn btn-primary">Save changes</button> -->
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</main>

	<div th:replace="~{usr/include/footer :: footer}"></div>
	<!-- Javascript-->
	<!-- Libs JS -->
	<!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->
	<script
		src="/usr/template/staticfinal/dist/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script
		src="/usr/template/staticfinal/dist/assets/libs/simplebar/dist/simplebar.min.js"></script>

	<!-- Theme JS -->
	<script src="/usr/template/staticfinal/dist/assets/js/theme.min.js"></script>

	<script
		src="/usr/template/staticfinal/dist/assets/js/vendors/password.js"></script>

	<script
		src="/usr/template/staticfinal/dist/assets/js/vendors/validation.js"></script>
	<script type="text/javascript">
		let boy = document.querySelector("input[id=boy]");
		let girl = document.querySelector("input[id=girl]");
		let gender = document.querySelector("input[name=gender]");
		let subtn = document.querySelector("button[id=subtn]");
		let password = document.querySelector("input[name=password]");
		let passwordck = document.querySelector("input[name=passwordck]");
		let id = document.querySelector("input[name=id]");
		let input = document.getElementsByClassName("ss");
		let dob = document.querySelector("input[name=dob]");
		let email = document.querySelector("input[name=email]");
		let form = document.getElementById("suForm");
		let name = document.getElementById("name");
		let valid = document.getElementById("valid");
		let invalid = document.getElementById("invalid");
		let nickName = document.getElementById("nickName");
		const emailRegex = /^(?![a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$).+$/;
		
		

		boy.onclick = function() {
			gender.value = 1;
			console.log(gender.value);
			girl.removeAttribute("checked");
			boy.setAttribute("checked");
		}

		girl.onclick = function() {
			gender.value = 2;
			boy.removeAttribute("checked");
			girl.setAttribute("checked");
		}

		function subtnClick() {
			if(gender.value == null || gender.value == ""){
				gender.value = 1;
			}
			let flag = false;
			for (let i = 0; i < input.length; i++) {
				if (input[i].value.trim() == null
						|| input[i].value.includes(" ")
						|| input[i].value.trim() == ""
						|| /[^a-zA-Z0-9가-힣]/.test(input[i].value)) {
					document.getElementById("modalHead").textContent = "경고";
					document.getElementById("modalText").textContent = "항목을 다시 확인해주세요 !";

					input[i].classList.add("is-invalid");
					input[i].classList.remove("is-valid");
					flag = true;

				} else {
					input[i].classList.add("is-valid");
					input[i].classList.remove("is-invalid");
				}
			}
				if (dob.value.trim() == null || dob.value.includes(" ")
						|| dob.value.trim() == "") {
					document.getElementById("modalHead").textContent = "경고";
					document.getElementById("modalText").textContent = "항목을 다시 확인해주세요 !";
					dob.classList.add("is-invalid");
					dob.classList.remove("is-valid");
					document.getElementById("dobInvalid").textContent = "생년월일 필수 정보입니다!";
					flag = true;
				} else {
					dob.classList.add("is-valid");
					dob.classList.remove("is-invalid");
				}
				
				if (email.value.trim() == null || email.value.includes(" ")
						|| email.value.trim() == ""
						|| emailRegex.test(email.value)) {
					document.getElementById("modalHead").textContent = "경고";
					document.getElementById("modalText").textContent = "항목을 다시 확인해주세요 !";
					email.classList.add("is-invalid");
					email.classList.remove("is-valid");
					document.getElementById("emailInvalid").textContent = "이메일을 입력해주세요!";
					flag = true;
				} else {
					email.classList.add("is-valid");
					email.classList.remove("is-invalid");
				}
				if (name.value.trim() == null || name.value.includes(" ")
						|| name.value.trim() == ""
						||  /[^가-힣]/.test(name.value)) {
					document.getElementById("modalHead").textContent = "경고";
					document.getElementById("modalText").textContent = "항목을 다시 확인해주세요 !";
					name.classList.add("is-invalid");
					name.classList.remove("is-valid");
					document.getElementById("nameInvalid").textContent = "이름 필수 정보입니다!";
					flag = true;
				} else {
					name.classList.add("is-valid");
					name.classList.remove("is-invalid");
				}
				if (id.value.trim() == null || id.value.includes(" ")
						|| id.value.trim() == ""
						||  /[^a-zA-Z0-9가-힣]/.test(id.value)) {
					document.getElementById("modalHead").textContent = "경고";
					document.getElementById("modalText").textContent = "항목을 다시 확인해주세요 !";
					id.classList.add("is-invalid");
					id.classList.remove("is-valid");
					invalid.textContent = "항목을 다시 확인해 주세요!";
					flag = true;
				} else {
					id.classList.add("is-valid");
					id.classList.remove("is-invalid");
				}
				if (nickName.value.trim() == null || nickName.value.includes(" ")
						|| nickName.value.trim() == ""
						||  /[^a-zA-Z0-9가-힣]/.test(nickName.value)) {
					document.getElementById("modalHead").textContent = "경고";
					document.getElementById("modalText").textContent = "항목을 다시 확인해주세요 !";
					nickName.classList.add("is-invalid");
					nickName.classList.remove("is-valid");
					document.getElementById("nickNameInvalid").textContent = "항목을 확인해주세요!";
					flag = true;
				} else {
					nickName.classList.add("is-valid");
					nickName.classList.remove("is-invalid");
				}
				if (password.value.trim() == null && passwordck.value == password.value  
						|| password.value.trim() == "" && passwordck.value == password.value
						|| password.value.includes(" ") && passwordck.value == password.value
						|| password.value != passwordck.value) {
					password.classList.add("is-invalid");
					password.classList.remove("is-valid");
					document.getElementById("modalHead").textContent = "경고";
					document.getElementById("modalText").textContent = "항목을 다시 확인해주세요 !";
					document.getElementById("passwordInvalid").textContent = "항목을 확인해주세요!";
					flag = true;
			}else {
				password.classList.add("is-valid");
				password.classList.remove("is-invalid");
				document.getElementById("completeHead").textContent = "안내";
				document.getElementById("completeText").textContent = "회원가입을 완료했습니다";
			}
				if (passwordck.value.trim() == null && passwordck.value == password.value  
						|| passwordck.value.trim() == "" && passwordck.value == password.value
						|| passwordck.value.includes(" ") && passwordck.value == password.value
						|| passwordck.value != password.value) {
					passwordck.classList.add("is-invalid");
					passwordck.classList.remove("is-valid");
					document.getElementById("modalHead").textContent = "경고";
					document.getElementById("modalText").textContent = "항목을 다시 확인해주세요 !";
					document.getElementById("passwordckInvalid").textContent = "패스워드 확인은 필수입니다!";
					flag = true;
			}else {
				passwordck.classList.add("is-valid");
				passwordck.classList.remove("is-invalid");
				document.getElementById("completeHead").textContent = "안내";
				document.getElementById("completeText").textContent = "회원가입을 완료했습니다";
			}
		
		
				if (flag) {
					document.getElementsByClassName("is-invalid")[0].focus();
					$("#suModal").modal("show");
				} else {
					
					$("#completeModal").modal("show");
				}

		}
		function enterkey(){
			if(event.key == "Enter"){
				subtnClick();
			}
		}
		
		
		
		for (let i = 0; i < input.length; i++) {
			input[i].oninput = function() {
				let codeName = this;
				if (codeName.value.trim() == null
						|| codeName.value.trim() == ""
						|| codeName.value.includes(" ")
						|| /[^a-zA-Z0-9가-힣]/.test(codeName.value)) {
					codeName.classList.add("is-invalid");
					codeName.classList.remove("is-valid");
				} else {
					codeName.classList.add("is-valid");
					codeName.classList.remove("is-invalid");
				}
			}
			}
		
		
		name.oninput = function() {
			let codeName = this;
			if (codeName.value.trim() == null || codeName.value.trim() == ""
					|| codeName.value.includes(" ") || /[^가-힣]/.test(codeName.value)) {
				codeName.classList.add("is-invalid");
				codeName.classList.remove("is-valid");
				document.getElementById("nameInvalid").textContent = "한글만 입력해주세요!";
			} else {
				codeName.classList.add("is-valid");
				codeName.classList.remove("is-invalid");
			}
		}
		dob.oninput = function() {
			let codeName = this;
			if (codeName.value.trim() == null || codeName.value.trim() == ""
					|| codeName.value.includes(" ")) {
				codeName.classList.add("is-invalid");
				codeName.classList.remove("is-valid");
				document.getElementById("dobInvalid").textContent = "생년월일 필수입력 입니다!";
			} else {
				codeName.classList.add("is-valid");
				codeName.classList.remove("is-invalid");
			}
		}
		id.oninput = function() {
			let codeName = this;
			if (codeName.value.trim() == null || codeName.value.trim() == ""
					|| codeName.value.includes(" ") ||
					/[^a-zA-Z0-9가-힣]/.test(codeName.value)) {
				invalid.textContent = "특수문자 공백 제거해주세요";
				codeName.classList.add("is-invalid");
				codeName.classList.remove("is-valid");
			} else {
				codeName.classList.add("is-valid");
				codeName.classList.remove("is-invalid");
			}
		}
		nickName.oninput = function() {
			let codeName = this;
			if (codeName.value.trim() == null || codeName.value.trim() == ""
					|| codeName.value.includes(" ") ||
					/[^a-zA-Z0-9가-힣]/.test(codeName.value)) {
				document.getElementById("nickNameInvalid").textContent = "특수문자 공백 제거해주세요!";
				codeName.classList.add("is-invalid");
				codeName.classList.remove("is-valid");
			} else {
				codeName.classList.add("is-valid");
				codeName.classList.remove("is-invalid");
			}
		}
		password.oninput = function() {
			let codeName = this;
			if (codeName.value.trim() == null || codeName.value.trim() == ""
					|| codeName.value.includes(" ")) {
				document.getElementById("passwordInvalid").textContent = "항목을 확인해주세요!";
				codeName.classList.add("is-invalid");
				codeName.classList.remove("is-valid");
			} else {
				codeName.classList.add("is-valid");
				codeName.classList.remove("is-invalid");
			}
		}
		passwordck.oninput = function() {
			let codeName = this;
			if (codeName.value.trim() != null && codeName.value.trim() == password.value.trim()  
					|| codeName.value.trim() != "" && codeName.value.trim() == password.value.trim()
					|| !codeName.value.includes(" ") && codeName.value.trim() == password.value.trim()) {
				document.getElementById("passwordckValid").textContent = "항목이 일치합니다!";
				codeName.classList.add("is-valid");
				codeName.classList.remove("is-invalid");
			} else {
				document.getElementById("passwordckInvalid").textContent = "패스워드와 입력값이 다릅니다!";
				codeName.classList.add("is-invalid");
				codeName.classList.remove("is-valid");
			}
		}
		
		email.oninput = function() {
			let codeName = this;
			if (codeName.value.trim() == null || codeName.value.trim() == ""
					|| codeName.value.includes(" ")
					|| emailRegex.test(email.value)) {
				codeName.classList.add("is-invalid");
				codeName.classList.remove("is-valid");
				document.getElementById("emailInvalid").textContent = "이메일 형식에 맞춰주세요!";
			} else {
				codeName.classList.add("is-valid");
				codeName.classList.remove("is-invalid");
			}
		}

		function btnClick() {
			document.getElementById("suModal").style.display = "none";
			return false;
		}
		function complete(){
			form.action="/userUsrInst";
			form.submit();
		}
		
		id.onblur = function(){
			if (id.value.trim() == null || id.value.includes(" ")
					|| id.value.trim() == ""
					||  /[^a-zA-Z0-9가-힣]/.test(id.value)) {
				document.getElementById("modalHead").textContent = "경고";
				document.getElementById("modalText").textContent = "항목을 다시 확인해주세요 !";
				id.classList.add("is-invalid");
				id.classList.remove("is-valid");
				invalid.textContent = "항목을 다시 확인해 주세요!";
			} else {
				$.ajax({
					async: true 
					,cache: false
					,type: "post"
					/* ,dataType:"json" */
					,url: "/signidUsrProc"
					/* ,data : $("#formLogin").serialize() */
					,data : { "id" : $("#userId").val()}
					,success: function(response) {
						if(response.rt == "success") {
							id.classList.add("is-valid");
							id.classList.remove("is-invalid");	
							valid.textContent = "사용가능한 아이디 입니다";
							
						} else {
							id.classList.add("is-invalid");
							id.classList.remove("is-valid");	
							invalid.textContent = "이미 사용중인 아이디 입니다";
							id.focus();
						}
					}
					,error : function(jqXHR, textStatus, errorThrown){
						alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
					}
				});
			}
			}
			
	</script>
</body>

</html>