<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{usr/include/infoHead :: head}"></div>
<div class="col-lg-9 col-md-8 col-12">
	<input type="hidden" name="seq"> <input type="hidden"
		name="blogCategory_seq"> <input type="hidden" name="thisPage"
		th:value="${vo.thisPage}" /> <input type="hidden" id="rowNumToShow"
		name="rowNumToShow" th:value="${vo.rowNumToShow}" />
	<div class="py-6 p-md-6 p-lg-10">
		<div class="mb-6">
			<!-- heading -->
			<h2 class="mb-0">내가 쓴 블로그</h2>
		</div>
		<hr class="my-10" />
		<div class="row">
			<div class="col-10"></div>
			<div class="col-2">
					<select class="form-select" id="perPage" onchange="getNum()">
						<option value="5" th:selected="${vo.rowNumToShow == 5}">5</option>
						<option value="10" th:selected="${vo.rowNumToShow == 10}">10</option>
					</select>
			</div>
		</div>
		<div
			class="row g-4 row-cols-xl-3 row-cols-lg-3 row-cols-2 row-cols-md-2 mt-2">
			<!-- col -->

			<th:block th:if="${#lists.isEmpty(myBlog)}">
				<div class="col-lg-4"></div>
				<div class="col-lg-4" style="text-align: center;">등록한 블로그가
					없습니다</div>
				<div class="col-lg-4"></div>
			</th:block>
			<th:block th:if="${!#lists.isEmpty(myBlog)}"
				th:each="list :${myBlog}">
				<div class="col">
					<!-- card -->
					<div class="card card-product">
						<div class="card-body">
							<!-- badge -->
							<div class="text-center position-relative">
								<div class="position-absolute top-0 start-0">
								</div>
								<a href="javascript:void(0)"
									th:onclick="blogView([[${list.seq}]],[[${list.blogCategory_seq}]])">
									<!-- img --> <img
									th:src="${list.mainImage}"
									alt="Grocery Ecommerce Template" class="mb-3 img-fluid"
									style="height: 222px; width: 100%;" />
								</a>
								<!-- action btn -->
								<div class="card-product-action">
									<!-- <a href="#!" class="btn-action" data-bs-toggle="modal"
                                                  data-bs-target="#quickViewModal">
                                                  <i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true"
                                                     title="Quick View"></i>
                                               </a> -->

									<!-- <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
                                                  title="Compare"><i class="bi bi-arrow-left-right"></i></a> -->
								</div>
							</div>
							<!-- heading -->
							<div class="text-small mb-1">
								<a href="javascript:void(0)"
									th:onclick="blogView([[${list.seq}]],[[${list.blogCategory_seq}]])"
									class="text-decoration-none text-muted"><small
									th:text="${list.nickName}"></small></a>
							</div>
							<h2 class="fs-6">
								<a href="javascript:void(0)"
									th:onclick="blogView([[${list.seq}]],[[${list.blogCategory_seq}]])"
									class="text-inherit text-decoration-none"
									th:text="${list.title}"></a>
							</h2>
							<div>
								<!-- rating -->
								
							</div>
							<!-- price -->
							<div
								class="d-flex justify-content-between align-items-center mt-3">
								<div>
									<!-- <span class="text-dark">100원</span> -->
									<!-- <span class="text-decoration-line-through text-muted">$24</span> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</th:block>
		</div>

		<div></div>
	</div>
	<div class="row">
		<div class="col-4"></div>
		<div class="col-4" style="display: flex; justify-content: center;">
			<nav>
				<ul class="pagination">
					<li th:if="${vo.startPage gt vo.pageNumToShow}" class="page-item"
						style="cursor: pointer;"><a class="page-link"
						href="javascript:goList(${vo.startPage - 1})"
						th:attr="onclick=|goList('${vo.startPage - 1}')|"> <i
							class="fa-solid fa-angle-left"></i>
					</a></li>
					<li th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}"
						th:classappend="${num eq vo.thisPage} ? active : ''"
						class="page-item" style="cursor: pointer;"><a
						class="page-link" th:attr="onclick=|goList('${num}')|"
						th:text="${num}"> <!-- ${i.index} -->
					</a></li>
					<li th:if="${vo.endPage ne vo.totalPages}" class="page-item"
						style="cursor: pointer;"><a class="page-link"
						th:attr="onclick=|goList('${vo.endPage + 1}')|"> <i
							class="fa-solid fa-angle-right"></i>
					</a></li>
				</ul>
			</nav>
		</div>
		<div class="col-4"></div>
	</div>

</div>
</div>
</div>
</section>
</main>
<div class="offcanvas offcanvas-start" tabindex="-1"
	id="offcanvasAccount" aria-labelledby="offcanvasAccountLabel">
	<!-- offcanvas header -->
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvasAccountLabel">Offcanvas</h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas"
			aria-label="Close"></button>
	</div>
	<!-- offcanvas body -->
	<div class="offcanvas-body">
		<ul class="nav flex-column nav-pills nav-pills-dark">
								<li class="nav-item"><a class="nav-link "
									href="/userUsrWish"> <i
										class="feather-icon icon-bell me-2"></i> 나의 위시리스트
								</a></li>
								<li class="nav-item"><a class="nav-link" onclick="myBlog()" id="myBlog">
										<i class="feather-icon icon-bell me-2"></i> 내가 쓴 블로그
								</a></li>
								
								<li class="nav-item"><a class="nav-link"
									aria-current="page" href="/userUsrHist" id="hist"> <i
										class="feather-icon icon-shopping-bag me-2"></i> 구매한 블로그
								</a></li>
								<!-- <li class="nav-item">
									<a class="nav-link" aria-current="page" href="buyPickture.html">
										<i class="feather-icon icon-shopping-bag me-2"></i>
										구매한 사진
									</a>
								</li> -->
								<!-- nav item -->
								<li class="nav-item"><a class="nav-link "
									href="/userUsrInfo" id="infoMain"> <i
										class="feather-icon icon-settings me-2"></i> 개인정보 수정
								</a></li>
								<li class="nav-item"><a class="nav-link "
									href="/userUsrAddr" id="addressMain"> <i
										class="feather-icon icon-settings me-2"></i> 주소 변경
								</a></li>
								<!-- nav item  -->
								<li class="nav-item"><a class="nav-link"
									href="/userUsrPass" id="passwordMain"> <i
										class="feather-icon icon-map-pin me-2"></i> 비밀번호 변경
								</a></li>
								<!-- nav item -->
								<li class="nav-item"><a class="nav-link"
									href="/userUsrDele" id="deleteMain"> <i
										class="feather-icon icon-credit-card me-2"></i> 회원 탈퇴
								</a></li>
								<!-- nav item -->

								<!-- nav item -->
								<li class="nav-item">
									<hr />
								</li>
								<!-- nav item -->
								<li class="nav-item"><a id="btnSignout"
									class="btn btn-phoenix-secondary d-flex flex-center w-100"
									href="javascript:void(0);"> <span class="me-2"
										data-feather="log-out"> </span> <i
										class="feather-icon icon-log-out me-2"></i> 로그아웃
								</a></li>
							</ul>
		</div>
	</div>
</div>


<!-- Footer -->
<!-- footer -->
<div th:replace="~{usr/include/footer :: footer}"></div>
<!-- Javascript-->
<!-- Libs JS -->
<!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->
<script
	src="/usr/template/staticfinal/dist/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script
	src="/usr/template/staticfinal/dist/assets/libs/simplebar/dist/simplebar.min.js"></script>
<script
	src="/usr/template/staticfinal/dist/assets/js/vendors/validation.js"></script>

<!-- Theme JS -->
<script src="/usr/template/staticfinal/dist/assets/js/theme.min.js"></script>
<script type="text/javascript">
	let targetUrl = window.location.pathname; // 원하는 URL로 변경
	let main = document.querySelector("#myBlog");
	let form = document.querySelector("#formList");
	console.log(targetUrl);
	// 	document.querySelector("input[name=url]").value = targetUrl;
	if ("/userUsrBlog" === targetUrl) {
		main.classList.add("active");

	}
	function blogLink() {
		document.querySelector("input[name=blogCategory_seq]").value = 1;
		form.action = "/blogUsrList";
		form.submit();
	}
	$("#btnSignout").on(
			"click",
			function() {
				$.ajax({
					async : true,
					cache : false,
					type : "post",
					url : "/signoutUsrProc",
					data : {},
					success : function(response) {
						if (response.rt == "success") {

							location.href = "/indexUsrView";
						} else {
							// by pass
						}
					},
					error : function(jqXHR, textStatus, errorThrown) {
						alert("ajaxUpdate " + jqXHR.textStatus + " : "
								+ jqXHR.errorThrown);
					}
				});
			});
	function blogView(num, num1) {
		console.log(num);
		document.querySelector("input[name=seq]").value = num;
		document.querySelector("input[name=blogCategory_seq]").value = num1;
		form.action = "/blogUsrView";
		form.submit();
	}

	function goList(Num) {
		document.querySelector("input[name=thisPage]").value = Num;
		form.action = "/userUsrBlog"
		form.submit();
	}

	function getNum() {
		document.querySelector("input[name=rowNumToShow]").value = document
				.getElementById("perPage").value;

		form.action = "/userUsrBlog"
		form.submit();
	}
</script>

</body>

</html>