<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{usr/include/infoHead :: head}"></div>
<input type="hidden" name="seq">
<input type="hidden" name="thisPage" th:value="${vo.thisPage}" /> <input
				type="hidden" id="rowNumToShow" name="rowNumToShow"
				th:value="${vo.rowNumToShow}" />
					<div class="col-lg-9 col-md-8 col-12">
						<div class="py-6 p-md-6 p-lg-10">
							<div class="mb-6">
								<!-- heading -->
								<h2 class="mb-0">구매한 블로그</h2>
							</div>
							
							<hr class="my-10" />
                          
        
                                    <div class="table-responsive-xxl border-0">
                                        <!-- Table -->
                                        <table class="table mb-0 text-nowrap table-centered">
                                            <!-- Table Head -->
                                            <thead class="bg-light">
                                                <tr>
                                                    <th>&nbsp;</th>
                                                    <th>블로그</th>
                                                    <th>구매 아이템</th>
                                                    <th>구매 날짜</th>
                                                    <!-- <th>Items</th> -->
                                                    <!-- <th>Status</th> -->
                                                    <th>구매 금액</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:if="${#lists.isEmpty(list)}">
                                            <td colspan="5" style="text-align:center;">구매 내역이 없습니다.</td>
                                            </tr>
                                                <!-- Table body -->
                                                <tr th:if="${!#lists.isEmpty(list)}" th:each="list :${list}">
                                                    <td class="align-middle border-top-0 w-0">
                                                        <a th:onclick="blogView([[${list.seq}]],[[${list.blogCategory_seq}]])"><img th:src="${list.mainImage}"
                                                                alt="Ecommerce" class="icon-shape icon-xl" /></a>
                                                    </td>
                                                    <td class="align-middle border-top-0">
                                                        <a th:onclick="blogView([[${list.seq}]],[[${list.blogCategory_seq}]])" class="fw-semibold text-inherit">
                                                            <h6 class="mb-0" th:text="${list.title}"></h6>
                                                        </a>
                                                        <!-- <span><small class="text-muted">400g</small></span> -->
                                                    </td>
                                                    <td class="align-middle border-top-0">
                                                       <h6 th:text="${list.item}"></h6>
                                                       
                                                    </td>
                                                    <td class="align-middle border-top-0" th:text="${list.buyDate}"></td>
                                                    <!-- <td class="align-middle border-top-0">1</td> -->
                                                    <!-- <td class="align-middle border-top-0">
                                                        <span class="badge bg-warning">Processing</span>
                                                    </td> -->
                                                    <td class="align-middle border-top-0" th:text="${list.infoPrice}"></td>
                                                    <td class="text-muted align-middle border-top-0">
                                                        <a th:onclick="blogView([[${list.seq}]],[[${list.blogCategory_seq}]])" class="text-inherit" data-bs-toggle="tooltip"
                                                            data-bs-placement="top" data-bs-title="View"><i
                                                                class="feather-icon icon-eye"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                       
                                    </div>
                                </div>
                                 <div class="row" >
                                        <div class="col-lg-4"></div>
                                        <div class="col-lg-4" style="display:flex; justify-content:center;">
                                        <ul class="pagination">
								<li th:if="${vo.startPage gt vo.pageNumToShow}"
									class="page-item" style="cursor: pointer;"><a
									class="page-link" href="javascript:goList(${vo.startPage - 1})"
									th:attr="onclick=|goList('${vo.startPage - 1}')|"> <i
										class="fa-solid fa-angle-left"></i>
								</a></li>
								<li
									th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}"
									th:classappend="${num eq vo.thisPage} ? active : ''"
									class="page-item" style="cursor: pointer;"><a
									class="page-link" th:attr="onclick=|goList('${num}')|"
									th:text="${num}"> <!-- ${i.index} -->
								</a></li>
								<li th:if="${vo.endPage ne vo.totalPages}" class="page-item"
									style="cursor: pointer;"><a class="page-link"
									th:attr="onclick=|goList('${vo.endPage + 1}')|"> <i
										class="fa-solid fa-angle-right"></i>
								</a></li>
							</ul></div>
                                        <div class="col-lg-4"></div>
                                        
                                        </div>
                            </div>
							
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

	<!-- modal -->
	<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasAccount" aria-labelledby="offcanvasAccountLabel">
		<!-- offcanvas header -->
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasAccountLabel">Offcanvas</h5>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<!-- offcanvas body -->
		<div class="offcanvas-body">
			<div class="offcanvas offcanvas-start" tabindex="-1"
	id="offcanvasAccount" aria-labelledby="offcanvasAccountLabel">
	<!-- offcanvas header -->
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvasAccountLabel">Offcanvas</h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas"
			aria-label="Close"></button>
	</div>
	<!-- offcanvas body -->
	<div class="offcanvas-body">
		<ul class="nav flex-column nav-pills nav-pills-dark">
								<li class="nav-item"><a class="nav-link "
									href="/userUsrWish"> <i
										class="feather-icon icon-bell me-2"></i> 나의 위시리스트
								</a></li>
								<li class="nav-item"><a class="nav-link" onclick="myBlog()" id="myBlog">
										<i class="feather-icon icon-bell me-2"></i> 내가 쓴 블로그
								</a></li>
								
								<li class="nav-item"><a class="nav-link"
									aria-current="page" href="/userUsrHist" id="hist"> <i
										class="feather-icon icon-shopping-bag me-2"></i> 구매한 블로그
								</a></li>
								<!-- <li class="nav-item">
									<a class="nav-link" aria-current="page" href="buyPickture.html">
										<i class="feather-icon icon-shopping-bag me-2"></i>
										구매한 사진
									</a>
								</li> -->
								<!-- nav item -->
								<li class="nav-item"><a class="nav-link "
									href="/userUsrInfo" id="infoMain"> <i
										class="feather-icon icon-settings me-2"></i> 개인정보 수정
								</a></li>
								<li class="nav-item"><a class="nav-link "
									href="/userUsrAddr" id="addressMain"> <i
										class="feather-icon icon-settings me-2"></i> 주소 변경
								</a></li>
								<!-- nav item  -->
								<li class="nav-item"><a class="nav-link"
									href="/userUsrPass" id="passwordMain"> <i
										class="feather-icon icon-map-pin me-2"></i> 비밀번호 변경
								</a></li>
								<!-- nav item -->
								<li class="nav-item"><a class="nav-link"
									href="/userUsrDele" id="deleteMain"> <i
										class="feather-icon icon-credit-card me-2"></i> 회원 탈퇴
								</a></li>
								<!-- nav item -->

								<!-- nav item -->
								<li class="nav-item">
									<hr />
								</li>
								<!-- nav item -->
								<li class="nav-item"><a id="btnSignout"
									class="btn btn-phoenix-secondary d-flex flex-center w-100"
									href="javascript:void(0);"> <span class="me-2"
										data-feather="log-out"> </span> <i
										class="feather-icon icon-log-out me-2"></i> 로그아웃
								</a></li>
							</ul>
		</div>
	</div>
</div>

			</div>
		</div>
	</div>

	<!-- Footer -->
	<!-- footer -->
	<div th:replace="~{usr/include/footer :: footer}"></div>
	<!-- Javascript-->
	<!-- Libs JS -->
	<!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->
	<script src="/usr/template/staticfinal/dist/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/usr/template/staticfinal/dist/assets/libs/simplebar/dist/simplebar.min.js"></script>
	<script src="/usr/template/staticfinal/dist/assets/js/vendors/validation.js"></script>

	<!-- Theme JS -->
	<script src="/usr/template/staticfinal/dist/assets/js/theme.min.js"></script>
	
	<script type="text/javascript">
let form = document.getElementById("formList");
function infoLink() {
	form.action ="/userUsrInfo";
	form.submit();
}
function blogLink(){
	document.querySelector("input[name=blogCategory_seq]").value = "9";
	document.querySelector("input[name=isSearch]").value = "true";
	form.action ="/blogUsrList";
	form.submit();
}
$("#btnSignout").on(
		"click",
		function() {
			$.ajax({
				async : true,
				cache : false,
				type : "post",
				url : "/signoutUsrProc",
				data : {},
				success : function(response) {
					if (response.rt == "success") {

						location.href = "/indexUsrView";
					} else {
						// by pass
					}
				},
				error : function(jqXHR, textStatus, errorThrown) {
					alert("ajaxUpdate " + jqXHR.textStatus + " : "
							+ jqXHR.errorThrown);
				}
			});
		});
		
let targetUrl = window.location.pathname; // 원하는 URL로 변경
let main = document.querySelector("#hist");
if ("/userUsrHist" === targetUrl) {
	main.classList.add("active");

}
function blogView(num,num1){
	console.log(num);
	document.querySelector("input[name=seq]").value = num;
	document.querySelector("input[name=blogCategory_seq]").value = num1;
	form.action = "/blogUsrView";
	form.submit();
}
function goList(Num) {
	document.querySelector("input[name=thisPage]").value = Num;
	form.action = "/userUsrHist"
	form.submit();
}
</script>

</body>

</html>