<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{usr/include/indexUsrHead::head}"></div>
      <main>
      <input type="hidden" name="seq">
      <input type="hidden" name="blogCategory_seq">
         <!-- section-->
         <div class="mt-4">
            <div class="container">
               <!-- row -->
               <div class="row">
                  <!-- col -->
                  <div class="col-12">
                     
                  </div>
               </div>
            </div>
         </div>
         <!-- section -->
         <section class="mt-8 mb-14">
            <div class="container">
               <!-- row -->
               <div class="row">
                  <div class="col-lg-12">
                     <div class="mb-8">
                        <!-- heading -->
                        <h1 class="mb-1">나의 위시리스트</h1>
                        <p>찜하기는 최대 5개 까지 가능합니다</p>
                     </div>
                     <div>
                        <!-- table -->
                        <div class="table-responsive">
                           <table class="table text-nowrap table-with-checkbox">
                              <thead class="table-light">
                                 <tr>
                                    <th>
                                       <!-- form check -->
                                    </th>
                                    <th></th>
                                    <th>블로그 제목</th>
                                    <th>작성자</th>
                                    <!-- <th>Status</th> -->
                                    <th>페이지로 이동하기</th>
                                    <th>삭제</th>
                                 </tr>
                              </thead>
                              <tbody>
                              <tr  th:if="${#lists.isEmpty(wishList)}">
                              <td colspan="6" style="text-align:center;" >찜한 블로그가 없습니다</td>
                              </tr>
                                 <tr th:if="${!#lists.isEmpty(wishList)}" th:each="list :${wishList}">
                                 <td style="display:none;"><input id="betterBlog_seq" name="betterBlog_seq" th:value="${list.betterBlog_seq}"></td>
                                    <td class="align-middle">
                                       <!-- form check -->
<!--                                        <div class="form-check"> -->
<!--                                           input -->
<!--                                           <input class="form-check-input" type="checkbox" value="" id="chechboxTwo" /> -->
<!--                                           label -->
<!--                                           <label class="form-check-label" for="chechboxTwo"></label> -->
<!--                                        </div> -->
                                    </td>
                                    <td class="align-middle">
                                       <a  th:onclick="blogView([[${list.betterBlog_seq}]],[[${list.blogCategory_seq}]])"><img src="/usr/template/staticfinal/dist/assets/images/manClothe/남성1.jpg" class="icon-shape icon-xxl" alt="" /></a>
                                    </td>
                                    <td class="align-middle">
                                       <div>
                                          <h5 class="fs-6 mb-0"><a th:onclick="blogView([[${list.betterBlog_seq}]],[[${list.blogCategory_seq}]])"  class="text-inherit" th:text="${list.title}"></a></h5>
                                          <!-- <small>$.98 / lb</small> -->
                                       </div>
                                    </td>
                                    <td class="align-middle" th:text="${list.nickName}"></td>
                                    <!-- <td class="align-middle"><span class="badge bg-success">In Stock</span></td> -->
                                    <td class="align-middle">
                                       <div class="btn btn-primary btn-sm" th:onclick="blogView([[${list.betterBlog_seq}]],[[${list.blogCategory_seq}]])">이동하기</div>
                                    </td>
                                    <td class="align-middle">
                                       <a onclick="btnDelete()" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                          <i class="feather-icon icon-trash-2"></i>
                                       </a>
                                    </td>
                                 </tr>
                               
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="modal fade" id="modalConfirm" data-bs-backdrop="static"
		data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalConfirmTitle">title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body" id="modalConfirmBody">body</div>
				<div class="modal-footer">
					<button type="button"
						class="btn btn-outline-secondary btn-sm btn_custom" id="btnModalReturn"
						data-bs-dismiss="modal">취소</button>
					<button type="button" class="btn btn-danger btn-sm btn_custom"
						name="" id="btnModalDelete">
						<i class="fa-solid fa-x fa-lg"></i>
					</button>
					<button type="button" class="btn btn-danger btn-sm btn_custom"
						name="" id="btnModalUelete">삭제</button>
				</div>
			</div>
		</div>
	</div>
         </section>
      </main>

      <!-- Footer -->
      <!-- footer -->
<div th:replace="~{usr/include/footer::footer}"></div>
      <!-- Javascript-->
      <!-- Libs JS -->
<!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->
<script src="/usr/template/staticfinal/dist/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/usr/template/staticfinal/dist/assets/libs/simplebar/dist/simplebar.min.js"></script>

<!-- Theme JS -->
<script src="/usr/template/staticfinal/dist/assets/js/theme.min.js"></script>
<script type="text/javascript">
let loginf = document.getElementById("loginf");
let logins = document.getElementById("logins");
let wish = document.getElementById("wish");
let cart = document.getElementById("cart");
let form = document.getElementById("formList");
let sessionSeq = [[${session.sessSeqUsr}]];
console.log(sessionSeq);
if(!sessionSeq){
	wish.style.display="none";
	cart.style.display="none";
	logins.style.display = "none";
}else{
	loginf.style.display = "none";
}
function infoLink() {
	form.action ="/userUsrInfo";
	form.submit();
}
function blogLink(){
	document.querySelector("input[name=blogCategory_seq]").value = 1;
	form.action ="/blogUsrList";
	form.submit();
}
function blogView(num,num1){
	console.log(num);
	document.querySelector("input[name=seq]").value = num;
	document.querySelector("input[name=blogCategory_seq]").value = num1;
	form.action = "/blogUsrView";
	form.submit();
}
function btnDelete(){
	document.querySelector("#modalConfirmTitle").textContent = "확 인";
	document.querySelector("#modalConfirmBody").textContent = "해당 항목을 삭제하시겠습니까 ?";
	document.querySelector("#btnModalUelete").style.display = '';
	document.querySelector("#btnModalDelete").style.display = 'none';
	$("#modalConfirm").modal("show");    
}
document.querySelector("#btnModalUelete").onclick = function(){
	console.log("12323");
	$.ajax({
		async: true 
		,cache: false
		,type: "post"
		/* ,dataType:"json" */
		,url: "/userUsrWishDele"
		/* ,data : $("#formLogin").serialize() */
		,data : {
			"urSeq" : $("#urSeq").val(), "betterBlog_seq" : $("#betterBlog_seq").val()
			}
		,success: function(response) {
			if(response.rt == "success") {
				
					form.action = "/userUsrWish";
					form.submit();
				
			} else {
		 		alert($("#betterBlog_seq").val());
			}
		}
		,error : function(jqXHR, textStatus, errorThrown){
			alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
		}
	});
}
document.querySelector("#btnModalReturn").onclick = function(){
	return false;
}


</script>
   </body>
</html>
