\<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{usr/include/infoHead :: head}"></div>

<div class="col-lg-9 col-md-8 col-12">
	<div class="py-6 p-md-6 p-lg-10">
		<div class="mb-6">
			<!-- heading -->
			<h2 class="mb-0">회원정보 관리</h2>
		</div>
		<hr>
		<div>
			<!-- heading -->
			<h5 class="mb-4">회원 상세정보</h5>

			<div class="row g-3">
				<div class="col-lg-5">
					<!-- form -->
					
						<input type="hidden" name="url"> <input type="hidden"
							name="urSeq" th:value="${item.seq}"> <input type="hidden"
							name="name" th:value="${item.name}"> <input type="hidden"
							name="id" th:value="${item.id}"> <input type="hidden"
							name="postalCode" th:value="${item.postalCode}"> <input
							type="hidden" name="betterAddress"
							th:value="${item.betterAddress}"> <input type="hidden"
							name="password" th:value="${item.password}"> <input
							type="hidden" name="gender" th:value="${item.gender}">
						<!-- input -->
						<div class="mb-3">
							<label class="form-label" for="rf-name">이름</label> <input
								type="text" class="form-control" th:value="${item.name}"
								id="rf-name" required disabled />
							<div class="invalid-feedback">새로운 이름을 입력해주세요</div>
						</div>
						<div class="mb-3">
							<div>
								<label for="userId" class="form-label">아이디</label>
							</div>
							<input type="text" class="form-control" id="UserId"
								th:value="${item.id}" required disabled />
							<!-- <div class="invalid-feedback">필수항목 생년월일을 입력해주세요</div> -->
						</div>
						<div class="mb-3">
							<div>
								<label for="nickName" class="form-label">닉네임</label>
							</div>
							<input type="text" class="form-control ss" id="nickName"
								name="nickName" th:value="${item.nickName}" autocomplete="off" required />
							<!-- <div class="invalid-feedback">필수항목 생년월일을 입력해주세요</div> -->
						</div>
						<div class="mb-3">
							<div>
								<label for="boy" class="form-label">성별</label>
							</div>
							<input type="radio" class="btn-check" name="team" id="boy"
								autocomplete="off" th:checked="${item.gender == 1}"> <label
								class="btn" for="boy">남자</label> <input type="radio"
								class="btn-check" name="team" id="girl" autocomplete="off"
								th:checked="${item.gender == 2}"> <label class="btn"
								for="girl">여자</label>
						</div>
						<div class="mb-3">
							<div>
								<label for="dob" class="form-label ">생년월일</label>
							</div>
							<input type="text" class="form-control datepicker" id="dob"
								name="dob" th:value="${item.dob}" required readonly />
						</div>


						<!-- input -->
						<div class="mb-3">
							<label class="form-label" for="rf-email">이메일</label> <input
								type="email" class="form-control" th:value="${item.email}"
								id="rf-email" name="email" required />
							<div class="invalid-feedback">새로운 이메일을 입력해주세요</div>
						</div>
						<!-- input -->
						<div class="mb-5">
							<!-- <label class="form-label"></label>
												<input type="text" class="form-control" placeholder="Phone number" /> -->
						</div>
						<!-- button -->
						<div class="mb-3" style="padding-top: 30px;">
							<button type="button" class="btn btn-primary" id="btnSubmit">상세정보
								저장</button>
						</div>
						<div class="modal fade" id="urModal" tabindex="-1"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog ">
								<div class="modal-content">
									<div class="modal-header">
										<h1 class="modal-title fs-5" id="modalHead"></h1>
										<button type="button" class="btn-close"
											data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body" id="modalText"></div>
									<div class="modal-footer">
										<a class="btn btn-secondary" data-bs-dismiss="modal"
											onclick="btnClick()">확인</a>
										<!--         <button type="button" class="btn btn-primary">Save changes</button> -->
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>

			</div>

		</div>
	</div>
</div>

<hr class="my-10" />
<!-- <div>  -->
<!-- heading -->
<!-- <h5 class="mb-4">회원 탈퇴</h5>
								<p class="mb-2">회원 탈퇴를 원하시나요?</p>
								<p class="mb-5">삭제 하기 버튼을 누르시면 회원님의 모든 정보가 모두 삭제 됩니다</p> -->
<!-- btn -->
<!-- <a href="#" class="btn btn-outline-danger">삭제하기</a>
							</div>-->
</div>
</div>
</div>
</div>
</section>
</main>

<!-- modal -->
<div class="offcanvas offcanvas-start" tabindex="-1"
	id="offcanvasAccount" aria-labelledby="offcanvasAccountLabel">
	<!-- offcanvas header -->
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvasAccountLabel">Offcanvas</h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas"
			aria-label="Close"></button>
	</div>
	<!-- offcanvas body -->
	<div class="offcanvas-body">
		<ul class="nav flex-column nav-pills nav-pills-dark">
								<li class="nav-item"><a class="nav-link "
									href="/userUsrWish"> <i
										class="feather-icon icon-bell me-2"></i> 나의 위시리스트
								</a></li>
								<li class="nav-item"><a class="nav-link" onclick="myBlog()" id="myBlog">
										<i class="feather-icon icon-bell me-2"></i> 내가 쓴 블로그
								</a></li>
								
								<li class="nav-item"><a class="nav-link"
									aria-current="page" href="/userUsrHist" id="hist"> <i
										class="feather-icon icon-shopping-bag me-2"></i> 구매한 블로그
								</a></li>
								<!-- <li class="nav-item">
									<a class="nav-link" aria-current="page" href="buyPickture.html">
										<i class="feather-icon icon-shopping-bag me-2"></i>
										구매한 사진
									</a>
								</li> -->
								<!-- nav item -->
								<li class="nav-item"><a class="nav-link "
									href="/userUsrInfo" id="infoMain"> <i
										class="feather-icon icon-settings me-2"></i> 개인정보 수정
								</a></li>
								<li class="nav-item"><a class="nav-link "
									href="/userUsrAddr" id="addressMain"> <i
										class="feather-icon icon-settings me-2"></i> 주소 변경
								</a></li>
								<!-- nav item  -->
								<li class="nav-item"><a class="nav-link"
									href="/userUsrPass" id="passwordMain"> <i
										class="feather-icon icon-map-pin me-2"></i> 비밀번호 변경
								</a></li>
								<!-- nav item -->
								<li class="nav-item"><a class="nav-link"
									href="/userUsrDele" id="deleteMain"> <i
										class="feather-icon icon-credit-card me-2"></i> 회원 탈퇴
								</a></li>
								<!-- nav item -->

								<!-- nav item -->
								<li class="nav-item">
									<hr />
								</li>
								<!-- nav item -->
								<li class="nav-item"><a id="btnSignout"
									class="btn btn-phoenix-secondary d-flex flex-center w-100"
									href="javascript:void(0);"> <span class="me-2"
										data-feather="log-out"> </span> <i
										class="feather-icon icon-log-out me-2"></i> 로그아웃
								</a></li>
							</ul>
		</div>
	</div>
</div>

<div th:replace="~{usr/include/footer :: footer}"></div>
<!-- Javascript-->
<!-- Libs JS -->
<!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->
<script
	src="/usr/template/staticfinal/dist/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script
	src="/usr/template/staticfinal/dist/assets/libs/simplebar/dist/simplebar.min.js"></script>
<script
	src="/usr/template/staticfinal/dist/assets/js/vendors/validation.js"></script>

<!-- Theme JS -->
<script src="/usr/template/staticfinal/dist/assets/js/theme.min.js"></script>
<script type="text/javascript" th:inline="javascript">
	const emailRegex = /^(?![a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$).+$/;
	let email = document.querySelector("input[name=email]");
	let input = document.querySelectorAll(".ss");
	let boy = document.querySelector("input[id=boy]");
	let girl = document.querySelector("input[id=girl]");
	let form = document.getElementById("formList");
	let gender = document.querySelector("input[name=gender]");
	let dob = document.querySelector("input[name=dob]");
	$("#btnSignout").on(
			"click",
			function() {
				$.ajax({
					async : true,
					cache : false,
					type : "post",
					url : "/signoutUsrProc",
					data : {},
					success : function(response) {
						if (response.rt == "success") {

							location.href = "/indexUsrView";
						} else {
							// by pass
						}
					},
					error : function(jqXHR, textStatus, errorThrown) {
						alert("ajaxUpdate " + jqXHR.textStatus + " : "
								+ jqXHR.errorThrown);
					}
				});
			});
	email.oninput = function() {
		let codeName = this;
		if (codeName.value.trim() == null || codeName.value.trim() == ""
				|| codeName.value.includes(" ") || emailRegex.test(email.value)) {
			codeName.classList.add("is-invalid");
			codeName.classList.remove("is-valid");
		} else {
			codeName.classList.add("is-valid");
			codeName.classList.remove("is-invalid");
		}
	}

	for (let i = 0; i < input.length; i++) {
		input[i].oninput = function() {
			let codeName = this;
			if (codeName.value.trim() == null || codeName.value.trim() == ""
					|| codeName.value.includes(" ")
					|| /[^a-zA-Z0-9가-힣]/.test(codeName.value)) {
				codeName.classList.add("is-invalid");
				codeName.classList.remove("is-valid");
			} else {
				codeName.classList.add("is-valid");
				codeName.classList.remove("is-invalid");
			}
		}
	}

	boy.onclick = function() {
		gender.value = 1;
		console.log(gender.value);
		girl.removeAttribute("checked");
		boy.setAttribute("checked");
	}

	girl.onclick = function() {
		gender.value = 2;
		boy.removeAttribute("checked");
		girl.setAttribute("checked");
	}

	document.querySelector("button[id=btnSubmit]").onclick = function() {

		let flag = false;
		for (let i = 0; i < input.length; i++) {
			if (input[i].value.trim() == null || input[i].value.trim() == ""
					|| input[i].value.includes(" ")
					|| /[^a-zA-Z0-9가-힣]/.test(input[i].value)) {
				document.getElementById("modalHead").textContent = "경고";
				document.getElementById("modalText").textContent = "항목을 다시 확인해주세요 !";

				input[i].classList.add("is-invalid");
				input[i].classList.remove("is-valid");
				flag = true;
			} else {
				input[i].classList.add("is-valid");
				input[i].classList.remove("is-invalid");
			}
		}
		if (email.value.trim() == null || email.value.trim() == ""
				|| email.value.includes(" ") || emailRegex.test(email.value)) {
			email.classList.add("is-invalid");
			email.classList.remove("is-valid");
		} else {
			email.classList.add("is-valid");
			email.classList.remove("is-invalid");

		}
		if (dob.value.trim() == null || dob.value.trim() == ""
				|| dob.value.includes(" ")) {
			dob.classList.add("is-invalid");
			dob.classList.remove("is-valid");
		} else {
			dob.classList.add("is-valid");
			dob.classList.remove("is-invalid");

		}

		if (flag) {
			document.getElementsByClassName("is-invalid")[0].focus();
			$("#urModal").modal("show");
		} else {
			form.action = "/userUsrUpdt"
			form.submit();
		}
	}
	function btnClick() {
		document.getElementById("urModal").style.display = "none";
		return false;
	}
	let targetUrl = window.location.pathname; // 원하는 URL로 변경
	let main = document.querySelector("#infoMain");
	let serve = document.querySelector("#blogServe");
	let inner = document.querySelector("#pictureInner");
	document.querySelector("input[name=url]").value = targetUrl;
	if ("/userUsrInfo" === targetUrl) {
		main.classList.add("active");

	}
	function blogLink(){
		document.querySelector("input[name=blogCategory_seq]").value = 1;
		form.action ="/blogUsrList";
		form.submit();
	}
</script>
</body>

</html>