<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>



<div th:replace="~{xdm/include/blogHead :: head}"></div>
	


<main id="main" class="main">

	<div class="pagetitle">
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">page 1</a></li>
				<li class="breadcrumb-item">page 2</li>
				<li class="breadcrumb-item active">Default</li>
			</ol>
		</nav>
		<h1 style="height: 50px;">
			블로그<span style="font-size: 18px;"> (List)</span>
		</h1>
	</div>
	<!-- End Page Title -->

	<section class="section">
		<form class="row g-3 needs-validation" novalidate name="formList"
			id="formList" method="post" autocomplete="off" default="1">
			<input type="hidden" name="thisPage" th:value="${vo.thisPage}" /> <input
				type="hidden" id="rowNumToShow" name="rowNumToShow"
				th:value="${vo.rowNumToShow}" />
				<input type="hidden" name="seqList">
				<input type="hidden" name="seq">
			<div class="col-md-2" style="height: 10px;">

				<select class="form-select" id="shDelNy" name="shDelNy">
					<option   value="">사용 여부</option>
					<option   value="0" th:selected="${vo.shDelNy == 0}">Y</option>
					<option value="1" th:selected="${vo.shDelNy ==1}">N</option>
				</select>
				<div class="invalid-feedback">항목중 하나를 선택 해주세요.</div>
			</div>
			<div class="col-md-2">
				<select class="form-select" id="" disabled>
					<option selected disabled value="">Y</option>
					<option>아무거나</option>
				</select>
				<div class="invalid-feedback">항목중 하나를 선택 해주세요.</div>
			</div>
			<div class="col-md-2">
				<select class="form-select" id="" disabled>
					<option selected disabled value="">날짜</option>
					<option>등록일</option>
					<option>수정일</option>
				</select>
				<div class="invalid-feedback">항목중 하나를 선택 해주세요.</div>
			</div>
			<div class="col-md-2">
				<input type="text" class="form-control" id="validationCustom03"
					placeholder="2025-01-05" disabled>
				<div class="invalid-feedback">코드를 입력해주세요.</div>
			</div>
			<div class="col-md-2">
				<input type="text" class="form-control" id="validationCustom03"
					placeholder="2025-02-04" disabled>
				<div class="invalid-feedback">코드를 입력해주세요.</div>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-2">
				<select class="form-select" id="shOption" name="shOption">
					<option   value="">검색구분</option>
					<option value="1" th:selected="${vo.shOption ==1}">블로그 번호</option>
					<option value="2" th:selected="${vo.shOption ==2}">블로그 제목</option>
					<option value="3" th:selected="${vo.shOption ==3}">유저 이름</option>
					<option value="4" th:selected="${vo.shOption == 4}">유저 닉네임</option>
				</select>
				<div class="invalid-feedback">항목중 하나를 선택 해주세요.</div>
			</div>
			<div class="col-md-2">
				<input type="text" class="form-control" id="shValue" name="shValue" onkeyup="enterkey()"
					placeholder="검색어" >
				<div class="invalid-feedback">코드를 입력해주세요.</div>
			</div>
			<div class="col-md-8">
				<button class="btn btn-outline-dark" type="button" id="btnSearch">
					<i class="bi bi-search"></i>
				</button>
				<button class="btn btn-outline-dark" type="button">
					<i class="bi bi-arrow-clockwise"></i>
				</button>
			</div>

			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-10" style="height: 50px;">
								<h5 class="card-title-list">Total : [[${vo.totalRows}]]</h5>
							</div>
							<div class="col-md-2 select-col">
								<select class="form-select select-end" name="perPage"
									onchange="getNum()">
									<option value="5" th:selected="${vo.rowNumToShow == 5}">5</option>
									<option value="10" th:selected="${vo.rowNumToShow == 10}">10</option>
									<option value="15" th:selected="${vo.rowNumToShow == 15}">15</option>
								</select>
							</div>
						</div>
					</div>

					<!-- Table with stripped rows -->
					<table class="table datatable" id="datatable">
						<thead>
							<tr>

								<th data-sortable="false"
									style="text-align: center; width: 100px;"><div
										class="checked">
										<input type="checkbox" class="form-check" name="blogCheck"
											value="selectall" onclick="selectAll(this)">
									</div></th>
								<th data-sortable="false"
									style="width: 10px; text-align: center;">#</th>
								<th style="text-align: center;">사용</th>
								<th class="list-sort" style="text-align: center;">블로그 번호</th>
								<th class="list-sort" style="text-align: center;">유저 번호</th>
								<th class="list-sort" style="text-align: center;">유저 이름</th>
								<th class="list-sort" style="text-align: center;">유저 닉네임</th>
								<th class="list-sort" style="text-align: center;">블로그 카테고리</th>
								<th class="list-sort" style="text-align: center;">블로그 제목</th>
								<th  class="list-sort"
									style="text-align: center;">구매 여부</th>
								

							</tr>
						</thead>
						<tbody>
							<tr th:if="${#lists.isEmpty(list)}">
								<td colspan="9" style="text-align: center; padding-top: 20px;">
									<div>
										<p>There are no data!</p>
									</div>
								</td>
							</tr>

							<tr th:if="${!#lists.isEmpty(list)}" th:each="list:${list}">
								<td>
									<div class="checked">
										<input type="checkbox" class="form-check" name="blogCheck"
											value="checke">
									</div>
								</td>
								<td th:text="${vo.totalRows - ((vo.thisPage - 1) * vo.rowNumToShow + listStat.index)}"></td>
								<td th:text="${list.bgDelNy == 0}? Y:N"></td>
								<td th:text="${list.seq}"></td>
								<td th:text="${list.user_seq}"></td>
								<td th:text="${list.name}"></td>
								<td th:text="${list.nickName}"></td>
								<td th:text="${list.categoryName}"></td>
								<td ><a th:href="@{/blogXdmForm(seq=${list.seq})}" th:text="${list.title}"></a></td>
								<td th:text="${list.buied == 1 }?Y:N"></td>
								
							</tr>


						</tbody>
						<tfoot>

						</tfoot>

					</table>
					<div class="row">
						<nav aria-label="Page navigation example"
							style="display: flex; justify-content: center;">
							<ul class="pagination" id="pagination">
								<li th:if="${vo.startPage gt vo.pageNumToShow}"
									class="page-item" style="cursor: pointer;"><a
									class="page-link" href="javascript:goList(${vo.startPage - 1})"
									th:attr="onclick=|goList('${vo.startPage - 1}')|"> <i
										class="fa-solid fa-angle-left"></i>
								</a></li>
								<li
									th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}"
									th:classappend="${num eq vo.thisPage} ? active : ''"
									class="page-item" style="cursor: pointer;"><a
									class="page-link" th:attr="onclick=|goList('${num}')|"
									th:text="${num}"> <!-- ${i.index} -->
								</a></li>
								<li th:if="${vo.endPage ne vo.totalPages}" class="page-item"
									style="cursor: pointer;"><a class="page-link"
									th:attr="onclick=|goList('${vo.endPage + 1}')|"> <i
										class="fa-solid fa-angle-right"></i>
								</a></li>
							</ul>
						</nav>

					</div>
					<div class="row">
						<div class="col-md-6 padding-left">
							<button class="btn btn-danger">X</button>
							<button class="btn btn-danger" id="cgSetBtn">
								<i class="bi bi-trash"></i>
							</button>
						</div>
						<div class="col-md-6 padding-right"
							style="display: flex; justify-content: end;">

							<button class="btn btn-success btn-right">
								<i class="bi bi-journal-x"></i>
							</button>
							<a type="button" id="blogBtn" class="btn btn-primary"><i
								class="bi bi-plus-lg"></i></a>
						</div>
					</div>

				</div>
			</div>
		</form>
	</section>

</main>


<div th:replace="~{xdm/include/footer :: footer}"></div>
<script
	src="/xdm/template/NiceAdmin/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script
	src="/xdm/template/NiceAdmin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script
	src="/xdm/template/NiceAdmin/assets/vendor/chart.js/chart.umd.js"></script>
<script
	src="/xdm/template/NiceAdmin/assets/vendor/echarts/echarts.min.js"></script>
<script src="/xdm/template/NiceAdmin/assets/vendor/quill/quill.js"></script>
<script
	src="/xdm/template/NiceAdmin/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script
	src="/xdm/template/NiceAdmin/assets/vendor/tinymce/tinymce.min.js"></script>
<script
	src="/xdm/template/NiceAdmin/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->

<script src="/xdm/template/NiceAdmin/assets/js/main.js"></script>
<script type="text/javascript">
let seq = document.querySelector("input[name=seq]");
document.getElementById("blogBtn").onclick = function () {
    goForm(0);
}

goForm = function (keyValue) {
    seq.value = keyValue;
    form.action = "blogXdmForm";
    form.submit();
}



function selectAll(selectAll){
   	const checkeded = document.getElementsByName("blogCheck");
   	
   	checkeded.forEach((checkbox)=>{
   		checkbox.checked = selectAll.checked;
   	})
  	}
 function updateSelectAll() {
     const checkboxes = document.querySelectorAll('input[name="blogCheck"]');
     
     // 전체 선택 체크박스는 첫 번째 체크박스로 가정
     const selectAllCheckbox = checkboxes[0]; 

     // 모든 체크박스가 체크되었는지 확인
     const allChecked = Array.from(checkboxes).every(checkbox => checkbox.checked);

     // 모든 체크박스가 체크되었을 때만 전체 선택 체크박스를 체크, 하나라도 해제되면 해제
     selectAllCheckbox.checked = allChecked;
 }



let form = document.querySelector("form[name=formList]");
function goList(Num){
	document.querySelector("input[name=thisPage]").value = Num;
	form.action = "/blogXdmList"
	form.submit();
}
 
 

 function getNum(){
	document.querySelector("input[name=rowNumToShow]").value = document.getElementById("perPage").value;
	
	form.action = "/blogXdmList"
	form.submit();
} 
 
 let shOption = document.getElementById("shOption");
 let shValue = document.getElementById("shValue");
 function enterkey(){
	 if(event.key == "Enter"){
		 if(shValue.value.trim() == null || shValue.value.trim() == ""){
			 shValue.classList.add("is-invalid");
			 shValue.classList.remove("is-valid");
			 if(shOption.value.trim() == null || shOption.value.trim() ==""){
				 shOption.classList.add("is-invalid");
				 shOption.classList.remove("is-valid");
				 document.getElementsByClassName("is-invalid")[0].focus();
				 return false;
			 }
			 
				 document.getElementsByClassName("is-invalid")[0].focus();
			 return false;
		 }
		 form.action ="/blogXdmList";
		 form.submit();
	 }
 }
 
	 document.getElementById("btnSearch").onclick = function(){
	 if(shValue.value.trim() == null || shValue.value.trim() == ""){
		 shValue.classList.add("is-invalid");
		 shValue.classList.remove("is-valid");
		 if(shOption.value.trim() == null || shOption.value.trim() ==""){
			 shOption.classList.add("is-invalid");
			 shOption.classList.remove("is-valid");
			 document.getElementsByClassName("is-invalid")[0].focus();
			 return false;
		 }
		 
			 document.getElementsByClassName("is-invalid")[0].focus();
		 return false;
	 }else if(shOption.value.trim() == null || shOption.value.trim() ==""){
		 shOption.classList.add("is-invalid");
		 shOption.classList.remove("is-valid");
		 if(shValue.value.trim() == null || shValue.value.trim() == ""){
			 shValue.classList.add("is-invalid");
			 shValue.classList.remove("is-valid");
			 document.getElementsByClassName("is-invalid")[0].focus();
			 return false;
	 }
		 document.getElementsByClassName("is-invalid")[0].focus();
		 return false;
 }
	 form.action ="/blogXdmList";
	 form.submit();
	 }
		document.getElementById("shValue").oninput = function(){
	  		let codeName = this;
	  		if(codeName.value.trim() == null || codeName.value.trim() == "" || codeName.value.includes(" ") || /[^a-zA-Z0-9가-힣]/.test(codeName.value)){
	  		 	codeName.classList.add("is-invalid");
	  		 	codeName.classList.remove("is-valid");
	  		}else{
	  			codeName.classList.add("is-valid");
	  			codeName.classList.remove("is-invalid");
	  		}
	  	}
	 
	 
	 document.getElementById("shOption").onchange = function(){
			let shOption = this;
			if(shOption.selectedIndex === 0){
				shOption.classList.add("is-invalid");
				shOption.classList.remove("is-valid");
			}else{
				shOption.classList.add("is-valid");
				shOption.classList.remove("is-invalid");
			}
		}  	


	</script>
</body>

</html>
