<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.staticfinal.module.blog.BlogDao">

	<resultMap type="com.staticfinal.module.blog.BlogDto"
		id="resultMapObj"></resultMap>
	<sql id="selectCommon">
		from
		betterBlog as a
		left join user as b on b.seq =
		a.user_seq
		left join
		blogCategory as c on c.seq = a.blogCategory_seq
		where 1=1 
		<if test="isSearch != true or isSearch == null or shValue == null and shValues ==null or shValue.equals('') and shValues.equals('')">and a.blogCategory_seq = #{blogCategory_seq}</if>
		
		<!-- <if test="shUseNy != null and !shUseNy.equals('')">AND a.ifcgUseNy 
			= #{shUseNy}</if> -->
		<if test="shDelNy != null and !shDelNy.equals('')">AND a.bgDelNy = #{shDelNy}</if>

		<choose>
			<when test="shOptionDate == 1">AND a.bgReg BETWEEN #{shDateStartDB} AND
				#{shDateEndDB}
			</when>
			<when test="shOptionDate == 2">AND a.bgMof BETWEEN #{shDateStartDB} AND
				#{shDateEndDB}
			</when>
		</choose>

		<choose>
			<when test="shOption == 1">AND a.seq = #{shValue}</when>
			<when test="shOption == 2">AND a.title LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND b.nickName LIKE CONCAT('%',#{shValues},'%')</when>
		</choose>
	</sql>
	<sql id="selectXdmCommon">
		from
		betterBlog as a
		left join user as b on b.seq =
		a.user_seq
		left join
		blogCategory as c on c.seq = a.blogCategory_seq
		where 1=1
		<!-- <if test="shUseNy != null and !shUseNy.equals('')">AND a.ifcgUseNy 
			= #{shUseNy}</if> -->
		<if test="shDelNy != null and !shDelNy.equals('')">AND a.bgDelNy = #{shDelNy}</if>

		<choose>
			<when test="shOptionDate == 1">AND a.bgReg BETWEEN #{shDateStartDB} AND
				#{shDateEndDB}
			</when>
			<when test="shOptionDate == 2">AND a.bgMof BETWEEN #{shDateStartDB} AND
				#{shDateEndDB}
			</when>
		</choose>

		<choose>
			<when test="shOption == 1">AND a.seq = #{shValue}</when>
			<when test="shOption == 2">AND a.title LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND b.name LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>
	</sql>
	<select id="selectCount" resultType="Integer">
		select count(*)
		<include refid="selectCommon"></include>
	</select>
	<select id="selectXdmCount" resultType="Integer">
		select count(*)
		<include refid="selectXdmCommon"></include>
	</select>
	<select id="blogAllCount" resultType="Integer">
		select count(*)
		from
		betterBlog
		where 1=1 and
		bgDelNy = 0
	</select>
	<select id="blogList" resultMap="resultMapObj">
		select
		a.seq,
		b.name,
		b.nickName,
		a.user_seq,
		a.blogCategory_seq,
		c.categoryName,
		a.title,
		a.bgReg,
		a.bgMof,
			(select path
		from image as d where 1=1 and  d.pSeq =
		a.seq order by d.uploadedDate asc limit 1) as mainImage
		<include refid="selectCommon"></include>
		order by a.seq desc
		limit #{startRnumForMysql},#{rowNumToShow}
	</select>
	<select id="imageList" resultMap="resultMapObj">
		select
		a.path
		from
		image as a
		where 1=1 
		and a.pSeq = #{seq}
	</select>
	<select id="blogViewList" resultMap="resultMapObj">
		select
		a.seq,
		b.name,
		b.nickName,
		a.user_seq,
		a.blogCategory_seq,
		c.categoryName,
		a.title,
		a.bgReg,
		a.bgMof,
		(select path
		from image as d where 1=1 and  d.pSeq =
		a.seq order by d.uploadedDate asc limit 1) as mainImage
		<include refid="selectCommon"></include>
		order by a.seq desc
	</select>
	
	<select id="blogXdmList" resultMap="resultMapObj">
		select
		a.seq,
		b.name,
		b.nickName,
		a.user_seq,
		a.blogCategory_seq,
		c.categoryName,
		a.title,
		a.bgReg,
		a.bgMof
		<include refid="selectXdmCommon"></include>
		order by a.seq desc
		limit #{startRnumForMysql},#{rowNumToShow}
	</select>
	<select id="blogCategory" resultMap="resultMapObj">
		select
		categoryName
		from
		blogCategory
		where 1=1
		and seq = #{blogCategory_seq}

	</select>
	<select id="reviewList" resultMap="resultMapObj">
		select
		a.coment,
		a.rReg,
		b.nickName
		from
		review as a
		left join user as b on b.seq = a.user_seq
		where 1=1
		and
		a.betterBlog_seq = #{seq}
		order by a.seq desc
		limit #{startRnumForMysql},#{rowNumToShow}
	</select>
	<select id="reviewCount" resultType="integer">
		select count(*)
		from
		review as a
		left join user as b on b.seq = a.user_seq
		where 1=1
		and
		a.betterBlog_seq = #{seq}
	</select>
	<select id="blogOne" resultMap="resultMapObj">
		select
		a.seq,
		a.blogIntroduction,
		a.modelHeight,
		a.modelWeight,
		a.modelSize,
		a.modelShoesSize,
		a.blogCategory_seq,
		a.user_seq,
		a.title,
		b.name,
		b.nickName,
		c.categoryName
		from
		betterBlog as a
		left join user as b on a.user_seq =
		b.seq
		left join
		blogCategory as c on a.blogCategory_seq = c.seq
		where 1=1
		and a.seq = #{seq}
	</select>
	<select id="betterInfo" resultMap="resultMapObj">
		select
		b.seq as infoseq,
		b.item,
		b.itemBrand,
		b.infoPrice,
		b.buyLink,
		b.betterBlog_seq
		from
		clotheInfo as b
		where 1=1
		and ifDelNy = 0
		and b.betterBlog_seq = #{seq}
		order by infoseq
		asc

	</select>
	<select id="blogCategoryList" resultMap="resultMapObj">
		select
		a.seq as bcSeq,
		a.categoryName
		from
		blogCategory as a
		where 1=1
		order by a.seq asc
	</select>
	
	<insert id="wishList">
		insert into wishlist
		(
		betterBlog_seq,
		user_seq
		)values
		(
		#{betterBlog_seq},
		#{user_seq}
		)
	</insert>
	<insert id="insertBlog" useGeneratedKeys="true"
		keyProperty="blogKey">
		insert into
		betterBlog
		(
		blogIntroduction,
		modelHeight,
		modelWeight,
		modelSize,
		modelShoesSize,
		blogCategory_seq,
		user_seq,
		title,
		bgReg
		)values
		(
		#{blogIntroduction},
		#{modelHeight},
		#{modelWeight},
		#{modelSize},
		#{modelShoesSize},
		#{blogCategory_seq},
		#{user_seq},
		#{title},
		now()
		)

	</insert>
	<insert id="reviewInsert">
		insert into review
		(
		user_seq,
		coment,
		betterBlog_seq,
		rReg
		)values
		(
		#{user_seq},
		#{coment},
		#{betterBlog_seq},
		now()
		)
	</insert>
	<insert id="imageInsert">
		insert into image
		(
		path,
		originalName,
		uuidName,
		ext,
		size,
		pSeq,
		uploadedDate
		)values
		(
		#{path},
		#{originalName},
		#{uuidName},
		#{ext},
		#{size},
		#{blogKey},
		now()
		)
	</insert>
	
	<insert id="insertClothe">
		insert into clotheInfo
		(
		item,
		itemBrand,
		buyLink,
		infoPrice,
		betterBlog_seq,
		ciReg
		)values
		<foreach collection="items" item="item" separator=",">
			(#{item.item},#{item.itemBrand},#{item.buyLink},#{item.infoPrice},${blogKey},now())
		</foreach>
	</insert>
	<update id="clotheInfoUpdate">
		update clotheInfo
		set
		item = #{item},
		infoPrice = #{infoPrice},
		buyLink = #{buyLink}
		where 1=1
		and seq = #{infoseq}
	</update>
	<update id="blogUpdate">
		update betterBlog
		set
		blogIntroduction =
		#{blogIntroduction},
		modelHeight =#{modelHeight},
		modelWeight=
		#{modelWeight},
		modelSize = #{modelSize},
		modelShoesSize =
		#{modelShoesSize},
		blogCategory_seq = #{blogCategory_seq},
		user_seq =
		#{user_seq},
		title = #{title},
		bgMof = now()
		where 1=1
		and seq = #{seq}
	</update>

	<insert id="blogInsert">
		insert into betterBlog
		(
		blogIntroduction ,
		modelHeight
		,
		modelWeight,
		modelSize,
		modelShoesSize ,
		blogCategory_seq,
		user_seq ,
		title ,
		bgDelNy,
		bgReg
		)values
		(
		#{blogIntroduction},
		#{modelHeight},
		#{modelWeight},
		#{modelSize},
		#{modelShoesSize},
		#{blogCategory_seq},
		#{user_seq},
		#{title},
		#{bgDelNy},
		now()
		)
	</insert>
	<delete id="bgUelete">
		update betterBlog
		set
		bgDelNy = 1
		where 1=1 and seq in
		<foreach collection="seqList" item="seq" open="("
			separator="," close=")">

			#{seq}
		</foreach>
	</delete>
	<delete id="imageDelete">
		delete from image
		where 1=1
		and pSeq = #{seq}
	</delete>
	<insert id="imageUpdate">
	insert into image
		(
		path,
		originalName,
		uuidName,
		ext,
		size,
		pSeq,
		uploadedDate
		)values
		(
		#{path},
		#{originalName},
		#{uuidName},
		#{ext},
		#{size},
		#{seq},
		now()
		)
	</insert>
	<delete id="wishDelete">
		delete from wishlist
		where 1=1
		and user_seq =
		#{user_seq}
		betterBlog_seq = #{betterBlog_seq}
	</delete>
	<delete id="clotheDelete">
		update clotheInfo
		set
		ifDelNy = 1
		where 1=1
		and seq = #{infoseq}
		and betterBlog_seq = #{betterBlog_seq}
	</delete>
	<delete id="blogDelete">
		update betterBlog
		set
		bgDelNy = 1
		where 1=1
		and seq = #{seq}
	</delete>
</mapper>
