<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.staticfinal.module.picture.PictureDao">

	<resultMap
		type="com.staticfinal.module.picture.PictureDto" id="resultMapObj"></resultMap>
		
		<sql id="selectCommon">
		from
	 	betterPicture as a
	 	left join pictureCategory as b on a.pictureCategory_seq = b.seq
	 	left join user as c on a.user_seq = c.seq
	 	where 1=1
	 	<if test="shDelNy != null and !shDelNy.equals('')">and a.ptDelNy = #{shDelNy}</if>
	 	<choose>
					<when test="shOptionDate == 1">AND a.bpReg BETWEEN #{shDateStartDB} AND #{shDateEndDB}</when>
					<when test="shOptionDate == 2">AND a.bpMof BETWEEN #{shDateStartDB} AND #{shDateEndDB}</when>
 				</choose>
 			
	 	  <choose>
            <when test="shOption == 1">AND a.seq = #{shValue}</when>
            <when test="shOption == 2">AND c.name LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 3">AND a.title LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
		</sql>
		<select id="selectCount" resultType="Integer">
		select count(*)
		<include refid="selectCommon"></include>
		</select>
	<select id="pictureList" resultMap="resultMapObj">
	select 
		a.seq,
	 	a.title,
	 	a.useCamera,
	 	a.photoPlace,
	 	a.photoIntroduce,
	 	a.pictureCategory_seq,
	 	a.user_seq,
	 	b.categoryName,
	 	c.name,
	 	c.nickName,
	 	a.bpReg,
	 	a.bpMof
	 	<include refid="selectCommon"></include>
	 	order by a.seq desc
	 	limit #{startRnumForMysql},#{rowNumToShow}
</select>
<select id="pictureOne" resultMap="resultMapObj">
		select
		a.seq,
		a.title,
		a.useCamera,
		a.photoPlace,
	 	a.photoIntroduce,
	 	a.pictureCategory_seq,
	 	a.user_seq,
	 	b.categoryName,
	 	c.name,
	 	c.nickName
	 	from
	 	betterPicture as a
	 	left join pictureCategory as b on a.pictureCategory_seq = b.seq
	 	left join user as c on a.user_seq = c.seq
	 	where 1=1
		and a.seq = #{seq}
</select>
<select id="pictureCategoryList" resultMap="resultMapObj">
	select 
	 a.categoryName,
	 a.seq
	 from
	 pictureCategory as a
	 where 1=1
	 order by a.seq asc
</select>
<insert id="pictureInsert">
insert into betterPicture
(
title,
useCamera,
photoPlace,
photoIntroduce,
pictureCategory_seq,
user_seq,
bpReg
)values
(
#{title},
#{useCamera},
#{photoPlace},
#{photoIntroduce},
#{pictureCategory_seq},
#{user_seq},
now()
)
</insert>
<update id="pictureUpdate">
update betterPicture
set
title = #{title},
useCamera = #{useCamera},
photoPlace = #{photoPlace},
photoIntroduce = #{photoIntroduce},
pictureCategory_seq = #{pictureCategory_seq},
user_seq = #{user_seq}
bpMof = now()
where 1=1 
and seq = #{seq}
</update>
<delete id="pictureUelete">
update betterPicture
set
ptDelNy = 1
where 1=1 and seq in
<foreach collection="seqList" item="seq" open="(" separator="," close=")">
#{seq}
</foreach>



</delete>
</mapper>