<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.staticfinal.module.user.UserDao">

	<resultMap type="com.staticfinal.module.user.UserDto"
		id="resultMapObj"></resultMap>
	<sql id="selectCommon">
		from
		user as a
		left join code as b on a.gender = b.seq
		where 1=1
		<!-- <if test="shUseNy != null and !shUseNy.equals('')">AND a.ifcgUseNy 
			= #{shUseNy}</if> -->
		<if test="shDelNy != null and !shDelNy.equals('')">AND a.urDelNy = #{shDelNy}</if>

		<choose> <when test="shOptionDate != null and !shOptionDate.equals('') and shOptionDate == 1">
		AND a.dob BETWEEN 
			#{shDateStart} AND #{shDateEnd}</when> 
			<when test="shOptionDate == 2">AND 
			a.urReg BETWEEN #{shDateStartDB} AND #{shDateEndDB}</when> 
			<when test="shOptionDate == 3">AND 
			a.urMof BETWEEN #{shDateStartDB} AND #{shDateEndDB}</when> 
			</choose>
		<choose>
			<when test="shOption == 1">AND a.seq = #{shValue}</when>
			<when test="shOption == 2">AND a.name LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND a.nickName LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 4">AND b.cdName LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>

	</sql>
	<select id="selectCount" resultType="Integer">
		select count(*)
		<include refid="selectCommon"></include>
	</select>

	<select id="userList" resultMap="resultMapObj">
		select
		a.seq as urSeq,
		a.name,
		a.gender,
		a.dob,
		a.nickName,
		a.id,
		a.password,
		a.email,
		a.postalCode,
		a.betterAddress,
		b.cdName,
		a.urDelNy,
		a.urReg,
		a.urMof
		<include refid="selectCommon"></include>
		order by urSeq desc
		limit #{startRnumForMysql},#{rowNumToShow}
	</select>
	<select id="userOne" resultMap="resultMapObj">
		select
		a.seq as urSeq,
		a.name,
		a.gender,
		a.dob,
		a.nickName,
		a.id,
		a.password,
		a.email,
		a.postalCode,
		a.betterAddress,
		a.urDelNy
		from
		user as a
		where 1=1 and
		a.seq = #{urSeq}
	</select>
	<select id="loginOne" resultMap="resultMapObj">
		select
		a.seq as urSeq,
		a.name,
		a.gender,
		a.dob,
		a.nickName,
		a.id,
		a.password,
		a.email,
		a.postalCode,
		a.betterAddress,
		a.urDelNy
		from
		user as a
		where 1=1 and
		a.id = #{id}
		
	</select>
	<select id="loginDisplay" resultMap="resultMapObj">
		 select
		 a.id,
		 a.password
		 from
		 user as a
		 where 1=1 
		 and a.seq =1
	</select>
	<select id="idDistinct" resultType="Integer">
	select
	count(*)
	from
	user as a
	where 1=1
	and binary a.id = binary #{id}
	</select>
	<select id="pwDistinct" resultType="Integer">
	select
	count(*)
	from
	user as a
	where 1=1
	and seq = #{urSeq}
	and binary a.password = binary #{password}
	</select>
	<select id="wishCount" resultType="Integer">
	select count(*)
	from
	wishlist
	where 1=1 
	and user_seq = #{urSeq}
	
	</select>
	<insert id="userInsert"  useGeneratedKeys="true" keyProperty="lastSeq">
	insert into
	user
	(
		name,
		gender,
		dob,
		nickName,
		id,
		password,
		email,
		postalCode,
		betterAddress,
		urReg
	)values
	(
		#{name},
		#{gender},
		#{dob},
		#{nickName},
		#{id},
		#{password},
		#{email},
		#{postalCode},
		#{betterAddress},
		now()
	)
	</insert>
	<update id="userUpdate">
		update user
		set
		name = #{name},
		gender = #{gender},
		dob =  #{dob},
		nickName = #{nickName},
		id = #{id},
		password = #{password},
		email = #{email},
		postalCode = #{postalCode},
		betterAddress = #{betterAddress},
		urMof = now()
		where 1=1 
		and seq = #{urSeq}
	
	</update>
	<update id="userPwupdate">
	update user
	set
	password = #{password}
	where 1=1
	and seq = #{urSeq}
	</update>
	<update id="userUelete">
	update user
	set
	urDelNy = 1
	where 1=1 
	and seq = #{urSeq}
	
	</update>
</mapper>