<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.staticfinal.module.user.UserDao">

	<resultMap type="com.staticfinal.module.user.UserDto"
		id="resultMapObj"></resultMap>
	<sql id="selectCommon">
		from
		user as a
		left join code as b on a.gender = b.seq
		where 1=1
		<!-- <if test="shUseNy != null and !shUseNy.equals('')">AND a.ifcgUseNy 
			= #{shUseNy}</if> -->
		<if test="shDelNy != null and !shDelNy.equals('')">AND a.urDelNy = #{shDelNy}</if>

		<choose> <when test="shOptionDate != null and !shOptionDate.equals('') and shOptionDate == 1">
		AND a.dob BETWEEN 
			#{shDateStart} AND #{shDateEnd}</when> 
<!-- 			<when test="shOptionDate == 2">AND  -->
<!-- 			a.modDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>  -->
			</choose>
		<choose>
			<when test="shOption == 1">AND a.seq = #{shValue}</when>
			<when test="shOption == 2">AND a.name LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND a.nickName LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 4">AND b.cdName LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>

	</sql>
	<select id="selectCount" resultType="Integer">
		select count(*)
		<include refid="selectCommon"></include>
	</select>

	<select id="userList" resultMap="resultMapObj">
		select
		a.seq,
		a.name,
		a.gender,
		a.dob,
		a.nickName,
		a.id,
		a.password,
		a.email,
		a.postalCode,
		a.betterAddress,
		b.cdName,
		a.urDelNy
		<include refid="selectCommon"></include>
		order by a.seq desc
		limit #{startRnumForMysql},#{rowNumToShow}
	</select>
	<select id="userOne" resultMap="resultMapObj">
		select
		a.seq,
		a.name,
		a.gender,
		a.dob,
		a.nickName,
		a.id,
		a.password,
		a.email,
		a.postalCode,
		a.betterAddress,
		a.urDelNy
		from
		user as a
		where 1=1 and
		a.seq = #{seq}

	</select>
	<select id="loginOne" resultMap="resultMapObj">
		select
		a.seq,
		a.name,
		a.gender,
		a.dob,
		a.nickName,
		a.id,
		a.password,
		a.email,
		a.postalCode,
		a.betterAddress,
		a.urDelNy
		from
		user as a
		where 1=1 and
		a.id = #{id}
		and a.password = #{password}
	</select>
	<select id="loginDisplay" resultMap="resultMapObj">
		 select
		 a.id,
		 a.password
		 from
		 user as a
		 where 1=1 
		 and a.seq =1
	</select>
	
	<insert id="userInsert"  useGeneratedKeys="true" keyProperty="lastSeq">
	insert into
	user
	(
		name,
		gender,
		dob,
		nickName,
		id,
		password,
		email,
		postalCode,
		betterAddress
	)values
	(
		#{name},
		#{gender},
		#{dob},
		#{nickName},
		#{id},
		#{password},
		#{email},
		#{postalCode},
		#{betterAddress}
	)
	
	</insert>
</mapper>